<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>塑金比价-重置密码</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="Keywords" content="塑金比价系统" />
    <meta name="Description" content="塑金比价系统" />
    <link rel="stylesheet" type="text/css" href="../../static/css/cstFonts/index/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/view/login.css" />

    <!--[if lte IE 8]>
        <script src="../../static/js/html5shiv.js"  type="text/javascript" charset="utf-8"></script>
         <link rel="stylesheet" type="text/css" href="../../static/css/ie8.css" />
    <![endif]-->
    <!--check css-->
    <script src="../../static/js/modernizr-2.6.2.min.js" defer type="text/javascript" charset="utf-8"></script>
    <!--css3 prefix-->
    <script src="../../static/js/prefix-css3.min.js" defer type="text/javascript" charset="utf-8"></script>
    <script src="../../static/js/common-cdn.js" defer type="text/javascript" charset="utf-8"></script>

    <!--[if lte IE 9]>
         <script src="../../static/js/placeholder.js" defer type="text/javascript" charset="utf-8"></script>
    <![endif]-->

    <script data-parent="umd" data-umd="login" defer src="../../static/js/view/login.js" type="text/javascript" charset="utf-8"></script>

</head>

<body class="login reg">

    <!--header-->
    <header class="login-hd  reg-hd">
        <div class="ctr cfx">
            <!-- 右边登录link-->
            <div class="fr  reg-hd-link">
                <span>已有账号？</span>
                <a href="../login">请登录></a>

            </div>
            <!--左边logo-->
            <h1 class="login-hd-logo  ">
                <a href="../index/">
                    <img src="../../static/images/index/logo.png" alt="home logo" />
                    <span>
                        塑金在线
                        www.sujin1688.com
                    </span>

                </a>
                <span class="txt">
                    重置密码
                </span>
            </h1>
        </div>
          

    </header>

    <section class="reg-cnt">

        <div class="reg-cnt-box">
           
            <div class="_item">
                <label>
                    密码:
                </label>
                <input type="password" name="name" value="" placeholder="请输新入密码" />
            </div>

            <div class="_item">
                <label>
                    确认密码:
                </label>
                <input type="password" name="name" value="" placeholder="请输入确认新密码" />
            </div>


            <div class="_item">
                <a class="_submit" >重置密码</a>
            </div>


        </div>

    </section>

    <footer class="login-ft">

        <ul class="login-ft-nav  ctr">

            <li>
                <a href="../index" title="首页">首页</a>
            </li>

            <li>
                <a href="../pricevs" title="价格对比">价格对比</a>
            </li>

            <li>
                <a href="../info/hyzx.html" title="行业资讯">行业资讯</a>
            </li>

            <li>
                <a href="../info/hyzl.html" title="行业资料">行业资料</a>
            </li>

            <li>
                <a href="../pricemap" title="价格走势">价格走势</a>
            </li>

            <li>
                <a href="../matter" title="物性表">物性表</a>
            </li>

            <li>
                <a href="../help/" title="关于我们">关于我们</a>
            </li>

        </ul>

        <p class="py ctr">
            COPYRIGHT ©塑金在线 www.sujin1688.com 粤ICP备17088510号
        </p>

    </footer>


</body>

</html>