<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>新闻详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="Keywords" content="" />
    <meta name="Description" content="" />
    <link rel="stylesheet" type="text/css" href="../../static/css/cstFonts/index/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/view/info.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lte IE 8]>
        <script src="../../static/js/html5shiv.js"  type="text/javascript" charset="utf-8"></script>
        <link rel="stylesheet" type="text/css" href="../../static/css/ie8.css" />
    <![endif]-->
    <!--check css-->
    <script src="../../static/js/modernizr-2.6.2.min.js" defer type="text/javascript" charset="utf-8"></script>
    <!--css3 prefix-->
    <script src="../../static/js/prefix-css3.min.js" defer type="text/javascript" charset="utf-8"></script>
    <script src="../../static/js/common-cdn.js" defer type="text/javascript" charset="utf-8"></script>

    <!--[if lte IE 9]>
         <script src="../../static/js/placeholder.js" defer type="text/javascript" charset="utf-8"></script>
    <![endif]-->

    <script data-parent="umd" data-umd="hyxw" defer src="../../static/js/view/info.js" type="text/javascript" charset="utf-8"></script>

</head>

<body class="hyzx dtl">

    <!--header-->
    <include src="../../template/_header.html" data-nav data-index="2"></include>

    <!--content-->
    <section class="hyzx-cnt dtl-cnt ctr">

        <nav class="dtl-cnt-nav cfx">
            <ul>
                <li><a href="#">行业资讯</a></li>
                <li><a href="#">上游动态</a></li>
                <li><span>新闻详情</span></li>

            </ul>
        </nav>

        <!--行业新闻-->
        <div class="hyxw-cnt ctr cfx">


            <!--右边资讯-->
            <div class="dtl-cnt-r fr">

                <!--为你推荐-->
                <div class="_tj ie8-border">

                    <div class="_img-pwr">
                        <img src="../../static/images/index/hyzx/hyzx-xq-tj-banner01.png" alt="Alternate Text" />
                    </div>

                    <ul class="_lst">
                        <li class="bfc elp">
                            <a href="#"> <span class="fr">12:11</span> <span>2019年4月份国内PE产量统计</span></a>

                        </li>
                        <li class="bfc elp">
                            <a href="#"> <span class="fr">12:11</span> <span>2019年4月份国内PE产量统计</span></a>

                        </li>
                        <li class="bfc elp">
                            <a href="#"> <span class="fr">12:11</span> <span>2019年4月份国内PE产量统计</span></a>

                        </li>
                        <li class="bfc elp">
                            <a href="#"> <span class="fr">12:11</span> <span>2019年4月份国内PE产量统计</span></a>

                        </li>
                        <li class="bfc elp">
                            <a href="#"> <span class="fr">12:11</span> <span>2019年4月份国内PE产量统计</span></a>

                        </li>
                        <li class="bfc elp">
                            <a href="#"> <span class="fr">12:11</span> <span>2019年4月份国内PE产量统计</span></a>

                        </li>
                        <li class="bfc elp">
                            <a href="#"> <span class="fr">12:11</span> <span>2019年4月份国内PE产量统计</span></a>

                        </li>
                        <li class="bfc elp">
                            <a href="#"> <span class="fr">12:11</span> <span>2019年4月份国内PE产量统计</span></a>

                        </li>
                        <li class="bfc elp">
                            <a href="#"> <span class="fr">12:11</span> <span>2019年4月份国内PE产量统计</span></a>

                        </li>
                        <li class="bfc elp">
                            <a href="#"> <span class="fr">12:11</span> <span>2019年4月份国内PE产量统计</span></a>

                        </li>


                    </ul>

                    <a href="#" class="_more">

                        换一批
                    </a>

                </div>

                <!-- 今日报价-->
                <div class="_jrbj  cfx  ie8-border">

                    <div class="_b-l">

                        <!--今日报价-->
                        <div class="_cnt-l-t">
                            <h3 class="_cnt-l-ttl">
                                今日报价
                                <a href="javascript:;">更多+</a>
                            </h3>
                        </div>

                        <!-- 内容列表-->
                        <div class="_b-l-lst">

                            <div class="tb tb-fixed table-100">
                                <div class="tb-cell elp text-left table-2 text-primary">
                                    东莞
                                </div>
                                <div class="tb-cell elp text-center table-2 text-muted">
                                    PA-757
                                </div>
                                <div class="tb-cell elp text-center table-4  text-danger">
                                    ￥12000.00元/吨
                                </div>
                                <div class="tb-cell elp text-right table-2">
                                    <a class="__btn">查看</a>
                                </div>

                            </div>

                            <div class="tb tb-fixed table-100">
                                <div class="tb-cell elp text-left table-2 text-primary">
                                    东莞
                                </div>
                                <div class="tb-cell elp text-center table-2 text-muted">
                                    PA-757
                                </div>
                                <div class="tb-cell elp text-center table-4 text-danger">
                                    ￥12000.00元/吨
                                </div>
                                <div class="tb-cell elp text-right table-2">
                                    <a class="__btn">查看</a>
                                </div>
                            </div>
                            <div class="tb tb-fixed table-100">
                                <div class="tb-cell elp text-left table-2 text-primary">
                                    东莞
                                </div>
                                <div class="tb-cell elp text-center table-2 text-muted">
                                    PA-757
                                </div>
                                <div class="tb-cell elp text-center table-4  text-danger">
                                    ￥12000.00元/吨
                                </div>
                                <div class="tb-cell elp text-right table-2">
                                    <a class="__btn">查看</a>
                                </div>

                            </div>

                            <div class="tb tb-fixed table-100">
                                <div class="tb-cell elp text-left table-2 text-primary">
                                    东莞
                                </div>
                                <div class="tb-cell elp text-center table-2 text-muted">
                                    PA-757
                                </div>
                                <div class="tb-cell elp text-center table-4 text-danger">
                                    ￥12000.00元/吨
                                </div>
                                <div class="tb-cell elp text-right table-2">
                                    <a class="__btn">查看</a>
                                </div>
                            </div>

                            <div class="tb tb-fixed table-100">
                                <div class="tb-cell elp text-left table-2 text-primary">
                                    东莞
                                </div>
                                <div class="tb-cell elp text-center table-2 text-muted">
                                    PA-757
                                </div>
                                <div class="tb-cell elp text-center table-4  text-danger">
                                    ￥12000.00元/吨
                                </div>
                                <div class="tb-cell elp text-right table-2">
                                    <a class="__btn">查看</a>
                                </div>

                            </div>


                            <div class="tb tb-fixed table-100">
                                <div class="tb-cell elp text-left table-2 text-primary">
                                    东莞
                                </div>
                                <div class="tb-cell elp text-center table-2 text-muted">
                                    PA-757
                                </div>
                                <div class="tb-cell elp text-center table-4  text-danger">
                                    ￥12000.00元/吨
                                </div>
                                <div class="tb-cell elp text-right table-2">
                                    <a class="__btn">查看</a>
                                </div>

                            </div>


                        </div>


                    </div>
                </div>

            </div>

            <!--左边新闻-->
            <div class="dtl-cnt-news">

                <article>

                    <h2>烯烃:三大趋势突显</h2>

                    <div class="_cnt">

                        <p>
                            丙烯方面，2018年国内产能快速扩张势头逐渐放缓，预计2019年丙烯总供应量3690万吨左右，同比涨幅10.15%。而进口丙烯有回落预期，对外依存度持续下降，丙烯产能阶段性过剩若隐若现。
                        </p>

                        <p>
                            陈钢认为，在烯烃产能增加的同时，市场参与主体也在增多，竞争日趋激烈。我国烯烃的供需缺口吸引了国内外投资者的关注，不仅民营企业、地方企业参与烯烃市场竞争，随着石化项目外资准入条件放宽、合资比例限制取消，更多国外资本也将进入这一领域。巴斯夫、埃克森美孚等跨国石化巨头已宣布将在中国独资建设大型烯烃项目。另外，中东和北美地区凭借原料低廉优势建设的世界级规模外向型石化装置，主要产品出口亚太地区，中国是其最重要的目标市场，这将对国内乙烯行业带来较大冲击。

                            原料路线轻质化

                            金联创网络科技有限公司烯烃产业链高级分析师司梦盈认为，烯烃生产的原料路线已呈现多元化、轻质化、低成本的趋势。
                        </p>

                        <p>


                            “目前石油化工路线烯烃仍占主导地位。但其份额正受到煤化工的挤压。煤(甲醇)制烯烃产能正在不断扩张，鲁西化工、吉林康乃尔、久泰能源、中安联合等建设的新装置即将投产。同时，混合烷烃脱氢制烯烃行业也快速发展，比如大连恒力在建项目配套混合烷烃脱氢装置，浙江石化也配套有丙烷脱氢装置，这都给传统工艺路线带来一定压力。”司梦盈分析说。

                            从2018年我国聚烯烃生产原料来看，煤炭、石脑油、外购甲醇分别占4%、20%和76%。聚丙烯生产原料更复杂，既有石脑油、煤炭，还有外购丙烯、甲醇等。

                            “目前国内丙烯产能为3540万吨，其中传统石油路线产能2220万吨左右，占比62%;丙烷脱氢路线产能为510万吨左右，占比14%;煤基路线产能为810万吨，占23%。”陈钢预计，到2023年底，我国丙烯产能中煤基路线和烷烃脱氢路线的产能占比将分别增长到27%和17%。

                            中国石油齐鲁石化分公司情报调研室项目主管于国良认为，原料轻质化是国内外烯烃行业发展方向，传统石化行业将面临竞争压力，而国内蓬勃发展的丙烷脱氢制丙烯将引领行业发展趋势。

                            丙烷脱氢将迎爆发期
                        </p>
                        <p>
                            陈钢认为，在烯烃产能增加的同时，市场参与主体也在增多，竞争日趋激烈。我国烯烃的供需缺口吸引了国内外投资者的关注，不仅民营企业、地方企业参与烯烃市场竞争，随着石化项目外资准入条件放宽、合资比例限制取消，更多国外资本也将进入这一领域。巴斯夫、埃克森美孚等跨国石化巨头已宣布将在中国独资建设大型烯烃项目。另外，中东和北美地区凭借原料低廉优势建设的世界级规模外向型石化装置，主要产品出口亚太地区，中国是其最重要的目标市场，这将对国内乙烯行业带来较大冲击。

                            原料路线轻质化

                            金联创网络科技有限公司烯烃产业链高级分析师司梦盈认为，烯烃生产的原料路线已呈现多元化、轻质化、低成本的趋势。
                        </p>

                        <p>


                            “目前中国共有13个丙烷脱氢和混合烷烃脱氢项目投入运行，其中有9套丙烷脱氢装置，这些项目均分布在东部沿海地区，单套装置年产能在45万~75万吨，并呈现一体化趋势，大部分配套下游产品。”陈钢说，未来我国丙烷脱氢产能将继续扩张，还有30多个PDH项目处于在建、前期或规划阶段，涉及丙烯产能2100万吨左右。

                            据介绍，浙江卫星石化丙烷脱氢项目二期已于今年2月投产;福建美得、东莞巨正源、浙石化炼化等丙烷脱氢项目即将建成投产;南浦环保丙烷—聚丙烯酰胺产业链项目即将开建。

                            “丙烷脱氢具有明显的成本优势，预计未来产能仍将大幅增长。”东华能源股份有限公司销售部经理刘夏表示，截至2018年底，我国已投产丙烷脱氢项目总产能461万吨，占丙烯总产能的比例达12.9%。预计2019~2020年新增丙烷脱氢产能约486万吨，丙烯市场三足鼎立的格局逐渐形成。

                            买卖塑胶，用塑金，更放心.
                        </p>
                    </div>

                </article>

                <!--资料下载-->
                <!--<a class="_download " title="资料下载">
                    产品说明书下载
                </a>-->

                <!--免责声明：-->
                <footer>
                    <h3> 免责声明：</h3>
                       
                    <p>1、 塑金在线所有注明“来源：塑金在线 ”的文字报导、图片、音频、视频、美术设计等作品，版权均为“塑金在线”独家所有，其他媒体、网站或个人转载使用，请务必注明来源“塑金在线”，否则塑金在线将以侵权依法追究相关法律责任。</p>
                    <p>
                        2、塑金在线所有注明"来源：***"(非塑金在线的其他媒体) 的文字报导、图片、音频、视频、美术设计等作品均转载自其他媒体，版权归原作者所有。转载目的在于传递更多信息，并不意味赞同其观点，也不构成任何建议，或证实其内容的准确性、有效性、及时性和完整性。如其他媒体、网站或个人转载使用，必须保留本网站注明的"稿件来源"。对擅自篡改稿件来源的，自行承担法律责任。如因版权或其他事宜需要请及时与我们取得联系。联系电话：0769－87139333
                    </p>
                </footer>

            </div>

        </div>

    </section>

    <!--分享 -->
    <div class="share-pwr ctr">

        <ul class="share ie8-border">

            <li>分享</li>
            <li>
                <a href="#">
                    <img src="../../static/images/index/hyzx/news-weixin.png" alt="微信图" title="微信分享" />
                    <img class="in" src="../../static/images/index/hyzx/news-weixin-click.png" alt="微信图" title="微信分享" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../static/images/index/hyzx/news-qq.png" alt="qq图" title="qq分享" />
                    <img  class="in" src="../../static/images/index/hyzx/news-qq-click.png" alt="qq图" title="qq分享" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../static/images/index/hyzx/news-CircleofFriends.png" alt="qq空间图" title="qq空间分享" />
                    <img  class="in" src="../../static/images/index/hyzx/news-CircleofFriends-click.png" alt="qq空间图" title="qq空间分享" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../static/images/index/hyzx/news-microblog.png" alt="微博图" title="微博分享" />
                    <img  class="in" src="../../static/images/index/hyzx/news-microblog-click.png" alt="微博图" title="微博分享" />
                </a>
            </li>



        </ul>

    </div>

    <!--icon-->
    <include src="../../template/_icon.html"></include>

    <!--footer-->
    <include src="../../template/_footer.html"></include>

    <!--置顶-->
    <div class="zhiding self">
        <img src="../../static/images/index/zhiding.png" alt="置顶" title="到页面顶部" />
        <!--<span class="iconicon-test iconfont"></span>-->
    </div>


</body>

</html>