<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>行业资讯</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="Keywords" content="" />
    <meta name="Description" content="" />
    <link rel="stylesheet" type="text/css" href="../../static/css/cstFonts/index/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/view/info.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lte IE 8]>
        <script src="../../static/js/html5shiv.js"  type="text/javascript" charset="utf-8"></script>
        <link rel="stylesheet" type="text/css" href="../../static/css/ie8.css" />
    <![endif]-->
    <!--check css-->
    <script src="../../static/js/modernizr-2.6.2.min.js" defer type="text/javascript" charset="utf-8"></script>
    <!--css3 prefix-->
    <script src="../../static/js/prefix-css3.min.js" defer type="text/javascript" charset="utf-8"></script>
    <script src="../../static/js/common-cdn.js" defer type="text/javascript" charset="utf-8"></script>

    <!--[if lte IE 9]>
         <script src="../../static/js/placeholder.js" defer type="text/javascript" charset="utf-8"></script>
    <![endif]-->

    <script data-parent="umd" data-umd="hyzx" defer src="../../static/js/view/info.js" type="text/javascript" charset="utf-8"></script>

</head>

<body class="hyzx">

    <!--header-->
    <include src="../../template/_header.html"  data-nav  data-index="2"></include>

    <!--searchbox-->
    <include src="../../template/_searchbox.html"></include>


    <!--content-->
    <section class="hyzx-cnt">

        <!--二级导航-->
        <include src="../../template/_nav2.html" data-nav  data-index="0"></include>

        <!-- slider 轮播大图-->
        <div class="hyzx-cnt-slide ctr cfx">

            <!--右边侧边栏-->
            <aside class="_aside fr">
                <!--今日行情-->
                <div class="_r-hq cfx  ie8-border">
                    <h3 class="_r-hq-ttl">
                        今<img src=" ../../static/images/index/q.png" alt="Alternate Text" />行情
                        <a href="javascript:;">更多+</a>
                    </h3>
                    <ul class="_r-hq-lst">
                        <li>
                            <a class="elp" href="#">
                                <span class="">12:34</span>
                                <img src=" ../../static/images/index/hq1.png" alt="今日行情 icon" />
                                ABS塑料原料华东地区今日价格上涨塑料原料华东地区今日价格上涨
                            </a>

                        </li>
                        <li>
                            <a class="elp" href="#">
                                <span class="">12:34</span>
                                <img src=" ../../static/images/index/hq2.png" alt="今日行情 icon" />
                                ABS塑料原料华东地区今日价格上涨
                            </a>
                        </li>
                        <li>
                            <a class="elp" href="#">
                                <span class="">12:34</span>
                                <img src=" ../../static/images/index/hq3.png" alt="今日行情 icon" />
                                ABS塑料原料华东地区今日价格上涨
                            </a>
                        </li>
                        <li>
                            <a class="elp not-icon" href="#">
                                <span class="">12:34</span>
                                ABS塑料原料华东地区今日价格上涨
                            </a>
                        </li>

                        <li>
                            <a class="elp not-icon" href="#">
                                <span class="">12:34</span>
                                ABS塑料原料华东地区今日价格上涨
                            </a>
                        </li>

                        <li>
                            <a class="elp not-icon" href="#">
                                <span class="">12:34</span>
                                ABS塑料原料华东地区今日价格上涨
                            </a>
                        </li>

                        <li>
                            <a class="elp not-icon" href="#">
                                <span class="">12:34</span>
                                ABS塑料原料华东地区今日价格上涨
                            </a>
                        </li>
                        <li>
                            <a class="elp not-icon" href="#">
                                <span class="">12:34</span>
                                ABS塑料原料华东地区今日价格上涨
                            </a>
                        </li>
                        <li>
                            <a class="elp not-icon" href="#">
                                <span class="">12:34</span>
                                ABS塑料原料华东地区今日价格上涨
                            </a>
                        </li>

                        <li>
                            <a class="elp not-icon" href="#">
                                <span class="">12:34</span>
                                ABS塑料原料华东地区今日价格上涨
                            </a>
                        </li>

                    </ul>

                </div>
            </aside>


            <!--左边轮播图-->
            <div class="_slide bfc">

                <!--默认左右轮播-->
                <div class="v-slide  ie8-border" data-time="3000" data-topbottom>

                    <div class="v-slide-wrap">

                        <ul class="clearfix">
                            <li class="active">
                                <a href="#"> <img src="../../static/images/index/hyzx/hyzx-slide-1.png" alt="" /></a>

                            </li>
                            <li class="">
                                <a href="#"> <img src="../../static/images/index/hyzx/hyzx-slide-1.png" alt="" /></a>
                            </li>
                            <li class="">
                                <a href="#"> <img src="../../static/images/index/hyzx/hyzx-slide-1.png" alt="" /></a>
                            </li>



                        </ul>

                        <!--<a href="javascript:;" class="v-btn v-btn-l  ">
                        <span class="glyphicon glyphicon-menu-left"></span>
                    </a>
                    <a href="javascript:;" class="v-btn v-btn-r">
                        <span class=" glyphicon glyphicon-menu-right"></span>
                    </a>-->
                        <!--自定义按钮-->
                        <div class="_cst-v-btns">
                            <a href="javascript:;" class="v-cst-btn-l">
                                <span class="iconfont iconarow-l"></span>
                            </a>
                            <span class="_span1">1</span>
                            <span class="_span2">/</span>
                            <span class="_span3">1</span>
                            <a href="javascript:;" class="v-cst-btn-r">
                                <span class="iconfont iconarow-r"></span>
                            </a>
                        </div>

                        <!--<div class="radius-list ">
                        <span class="active"></span>
                        <span class=""></span>

                    </div>-->

                    </div>

                </div>

            </div>


        </div>

        <!-- 今日指数-->
        <div class="hyzx-cnt-jrzs ctr">
            <!--zhishu-->

            <div class="index-cnt-zhishu-l">
                <h4 class="v-hide" id="lv0"></h4>
                <img src="../../static/images/index/zhishu.png" alt="今日指数图标" />
            </div>

            <ul class="index-cnt-zhishu-r">
                <li>
                    <a href="#">
                        <h5 class="elp">苯乙烯  FOB韩国</h5>
                        <p> <span>1256.50</span> </p>
                    </a>
                </li>


                <li>
                    <a href="#">
                        <h5 class="elp">苯乙烯  FOB韩国</h5>
                        <p class="text-success">
                            <span>1256.50</span>
                            <span>-0.35</span>

                            <img src="../../static/images/index/zhishu-top.png" alt="下跌图标" />

                        </p>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <h5 class="elp">苯乙烯  FOB韩国</h5>
                        <p class="text-danger">
                            <span>1256.50</span>
                            <span>+0.35</span>
                            <img src="../../static/images/index/zhishu-bottom.png" alt="上升图标" />

                        </p>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <h5 class="elp">苯乙烯  FOB韩国</h5>
                        <p> <span>1256.50</span> </p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h5 class="elp">苯乙烯  FOB韩国</h5>
                        <p> <span>1256.50</span> </p>
                    </a>
                </li>
            </ul>

        </div>

        <!-- 行业讯息-->
        <div class="hyzx-cnt-hyxx ctr">

            <!--行业新闻 -->
            <div class="_cnt ">

                <!--右边列表-->
                <div class="_cnt-r fr ie8-border">

                    <!--common ref _cnt-l-->
                    <div class="_cnt-l-t">
                        <h3 class="_cnt-l-ttl">
                            数据统计
                            <span class="fr">
                                <a class="active" href="javascript:;">周报</a>
                                <a class="" href="javascript:;">月报</a>
                                <a href="javascript:;">年报</a>

                                <a class="_link" href="javascript:;">更多+</a>
                            </span>

                        </h3>
                    </div>

                    <ul class="_cnt-r-lst">
                        <li class="bfc elp">
                            <a href="#"> <span class="fr">12:11</span> <span>2019年4月份国内PE产量统计</span></a>

                        </li>
                        <li class="bfc elp">
                            <a href="#"> <span class="fr">12:11</span> <span>2019年4月份国内PE产量统计</span></a>

                        </li>
                        <li class="bfc elp">
                            <a href="#"> <span class="fr">12:11</span> <span>2019年4月份国内PE产量统计</span></a>

                        </li>
                        <li class="bfc elp">
                            <a href="#"> <span class="fr">12:11</span> <span>2019年4月份国内PE产量统计</span></a>

                        </li>
                        <li class="bfc elp">
                            <a href="#"> <span class="fr">12:11</span> <span>2019年4月份国内PE产量统计</span></a>

                        </li>
                        <li class="bfc elp">
                            <a href="#"> <span class="fr">12:11</span> <span>2019年4月份国内PE产量统计</span></a>

                        </li>
                        <li class="bfc elp">
                            <a href="#"> <span class="fr">12:11</span> <span>2019年4月份国内PE产量统计</span></a>

                        </li>
                        <li class="bfc elp">
                            <a href="#"> <span class="fr">12:11</span> <span>2019年4月份国内PE产量统计</span></a>

                        </li>
                        <li class="bfc elp">
                            <a href="#"> <span class="fr">12:11</span> <span>2019年4月份国内PE产量统计</span></a>

                        </li>
                        <li class="bfc elp">
                            <a href="#"> <span class="fr">12:11</span> <span>2019年4月份国内PE产量统计</span></a>

                        </li>


                    </ul>


                </div>

                <!--左边列表-->
                <div class="_cnt-l ie8-border">
                    <div class="_cnt-l-t">
                        <h3 class="_cnt-l-ttl">
                            行业新闻
                            <a href="javascript:;">更多+</a>
                        </h3>
                    </div>

                    <div class="_cnt-l-b">

                        <div class="_cnt-l-b-1 bfc">

                            <div class="__img fl">
                                <img src="../../static/images/index/htzx-hyxw-banner01.png" alt="行业新闻图" />
                            </div>

                            <a class="__r bfc">
                                <h4 class="elp"> 韩国向乙烯生产大国挺进</h4>
                                <div class="elp-2">
                                    科莱恩母粒亚太区主管CHRIS HANSEN说：“通过RPC，我们希望在共同创造的过程中与客户进行更深入的接触，以开发出针对他们的审美和功能需求的突破性概念和...
                                </div>

                                <div class="bfc">
                                    <span>LDPE</span>
                                    <span class="fr">02-14 </span>
                                </div>
                            </a>
                        </div>

                        <div class="_cnt-l-b-2 bfc">

                            <a class="__l fl">
                                <h3 class="__l_ttl elp">
                                    <img src="../../static/images/index/hot-1.png" alt="hot image" />余姚PA6和PA66市场弱势震荡
                                </h3>
                                <div class="__l-cnt">
                                    <div class="__img fl">
                                        <img src="../../static/images/index//htzx-hyxw-banner02.png" alt="行业新闻图" />
                                    </div>

                                    <div class="__l-cnt-r">

                                        <p class="elp-2">
                                            韩国石化行业为了提升竞争力，近来，多家石化公司不断加强国内...
                                        </p>

                                        <div>
                                            <span>PA66</span>
                                            <span>余姚</span>
                                            <span>02-14 </span>
                                        </div>

                                    </div>

                                </div>

                            </a>
                            <a class="__l fl">
                                <h3 class="__l_ttl elp">
                                    <img src="../../static/images/index/hot-1.png" alt="hot image" />余姚PA6和PA66市场弱势震荡
                                </h3>
                                <div class="__l-cnt">
                                    <div class="__img fl">
                                        <img src="../../static/images/index//htzx-hyxw-banner02.png" alt="行业新闻图" />
                                    </div>
                                    <div class="__l-cnt-r">
                                        <p class="elp-2">
                                            韩国石化行业为了提升竞争力，近来，多家石化公司不断加强国内...
                                        </p>

                                        <div>
                                            <span>PA66</span>
                                            <span>余姚</span>
                                            <span>02-14 </span>
                                        </div>

                                    </div>

                                </div>

                            </a>



                        </div>

                        <div class="_cnt-l-b-3 bfc">
                            <a class="__row fl" href="javascript:;">
                                <h5 class="elp">余姚PA6和PA66市场弱势震荡余姚PA6和PA66市场弱势震荡余姚PA6和PA66市场弱势震荡</h5>
                                <p class="elp-2">韩国石化行业为了提升竞争力，近来，多家石化公司不断加强国内投资和海外项加强国内投资和海外项和海外项...</p>
                                <div class="__label">
                                    <span>PA6</span>
                                    <span>LDPE</span>
                                    <span>余姚</span>
                                    <span class="fr">02-14 </span>
                                </div>
                            </a>

                            <a class="__row fr" href="javascript:;">
                                <h5 class="elp">余姚PA6和PA66市场弱势震荡余姚PA6和PA66市场弱势震荡余姚PA6和PA66市场弱势震荡</h5>
                                <p class="elp-2">韩国石化行业为了提升竞争力，近来，多家石化公司不断加强国内投资和海外项加强国内投资和海外项和海外项...</p>
                                <div class="__label">
                                    <span>PA6</span>
                                    <span>LDPE</span>
                                    <span>余姚</span>
                                    <span class="fr">02-14 </span>
                                </div>
                            </a>

                        </div>


                    </div>

                </div>

            </div>


        </div>

        <!-- 上游动态 品名日评 塑料期货-->
        <div class="hyzx-cnt-sydt ctr">

            <div class="_b cfx">

                <div class="_b-r  ie8-border">

                    <!--上游动态-->
                    <div class="_cnt-l-t bfc">

                        <h3 class="_cnt-l-ttl">
                            上游动态
                            <a href="javascript:;">更多+</a>
                        </h3>
                    </div>

                    <!-- 内容列表-->

                    <ul class="_b-r-lst">

                        <li class="_b-r-lst-itm">
                            <a href="#">
                                <h4 class="__ttl elp">聚四氟乙烯微孔薄膜的应用</h4>

                                <section class="__cnt bfc">
                                    <div class="fl __img">
                                        <img src="../../static/images/index/htzx-hyxw-banner02.png" alt="行业知识图" />
                                    </div>

                                    <p class="elp-3">作为聚四氟乙烯材料加工企业抓安全生产就要按标准条例严格执行。国家职业病诊断标准和处理标...</p>
                                </section>
                            </a>

                        </li>

                        <li class="_b-r-lst-itm">
                            <a href="#">
                                <h4 class="__ttl elp">聚四氟乙烯微孔薄膜的应用</h4>

                                <section class="__cnt bfc">
                                    <div class="fl __img">
                                        <img src="../../static/images/index/htzx-hyxw-banner02.png" alt="行业知识图" />
                                    </div>

                                    <p class="elp-3">作为聚四氟乙烯材料加工企业抓安全生产就要按标准条例严格执行。国家职业病诊断标准和处理标...</p>
                                </section>
                            </a>

                        </li>

                        <li class="_b-r-lst-itm">
                            <a href="#">
                                <h4 class="__ttl elp">聚四氟乙烯微孔薄膜的应用</h4>

                                <section class="__cnt bfc">
                                    <div class="fl __img">
                                        <img src="../../static/images/index/htzx-hyxw-banner02.png" alt="行业知识图" />
                                    </div>

                                    <p class="elp-3">作为聚四氟乙烯材料加工企业抓安全生产就要按标准条例严格执行。国家职业病诊断标准和处理标...</p>
                                </section>
                            </a>

                        </li>

                        <li class="_b-r-lst-itm">
                            <a href="#">
                                <h4 class="__ttl elp">聚四氟乙烯微孔薄膜的应用</h4>

                                <section class="__cnt bfc">
                                    <div class="fl __img">
                                        <img src="../../static/images/index/htzx-hyxw-banner02.png" alt="行业知识图" />
                                    </div>

                                    <p class="elp-3">作为聚四氟乙烯材料加工企业抓安全生产就要按标准条例严格执行。国家职业病诊断标准和处理标...</p>
                                </section>
                            </a>

                        </li>



                    </ul>

                </div>

                <div class="_b-l  ie8-border">

                    <!--品名日评-->
                    <div class="_cnt-l-t">
                        <h3 class="_cnt-l-ttl">
                            品名日评
                            <a href="javascript:;">更多+</a>
                        </h3>
                    </div>

                    <!-- 内容列表-->
                    <ul class="_b-l-lst">
                        <!-- 7个列表-->
                        <li>
                            <a class="bfc" href="#">
                                <div class="_b-l-lst-l fl">
                                    <p>ABS</p>
                                    <p>日评</p>
                                </div>

                                <div class="_b-l-lst-r fr">
                                    12:04
                                </div>


                                <div class="_b-l-lst-m bfc">

                                    <p class="elp">
                                        再生PP日评：6. 25价格以稳为主成交再生PP日评：6. 25价格以稳为主成交
                                    </p>
                                    <p>
                                        延续
                                    </p>

                                </div>

                            </a>

                        </li>

                        <li>
                            <a class="bfc" href="#">
                                <div class="_b-l-lst-l fl">
                                    <p>ABS</p>
                                    <p>日评</p>
                                </div>

                                <div class="_b-l-lst-r fr">
                                    12:04
                                </div>


                                <div class="_b-l-lst-m bfc">

                                    <p class="elp">
                                        再生PP日评：6. 25价格以稳为主成交再生PP日评：6. 25价格以稳为主成交
                                    </p>
                                    <p>
                                        延续
                                    </p>

                                </div>

                            </a>

                        </li>

                        <li>
                            <a class="bfc" href="#">
                                <div class="_b-l-lst-l fl">
                                    <p>ABS</p>
                                    <p>日评</p>
                                </div>

                                <div class="_b-l-lst-r fr">
                                    12:04
                                </div>


                                <div class="_b-l-lst-m bfc">

                                    <p class="elp">
                                        再生PP日评：6. 25价格以稳为主成交再生PP日评：6. 25价格以稳为主成交
                                    </p>
                                    <p>
                                        延续
                                    </p>

                                </div>

                            </a>

                        </li>

                        <li>
                            <a class="bfc" href="#">
                                <div class="_b-l-lst-l fl">
                                    <p>ABS</p>
                                    <p>日评</p>
                                </div>

                                <div class="_b-l-lst-r fr">
                                    12:04
                                </div>


                                <div class="_b-l-lst-m bfc">

                                    <p class="elp">
                                        再生PP日评：6. 25价格以稳为主成交再生PP日评：6. 25价格以稳为主成交
                                    </p>
                                    <p>
                                        延续
                                    </p>

                                </div>

                            </a>

                        </li>

                        <li>
                            <a class="bfc" href="#">
                                <div class="_b-l-lst-l fl">
                                    <p>ABS</p>
                                    <p>日评</p>
                                </div>

                                <div class="_b-l-lst-r fr">
                                    12:04
                                </div>


                                <div class="_b-l-lst-m bfc">

                                    <p class="elp">
                                        再生PP日评：6. 25价格以稳为主成交再生PP日评：6. 25价格以稳为主成交
                                    </p>
                                    <p>
                                        延续
                                    </p>

                                </div>

                            </a>

                        </li>

                        <li>
                            <a class="bfc" href="#">
                                <div class="_b-l-lst-l fl">
                                    <p>ABS</p>
                                    <p>日评</p>
                                </div>

                                <div class="_b-l-lst-r fr">
                                    12:04
                                </div>


                                <div class="_b-l-lst-m bfc">

                                    <p class="elp">
                                        再生PP日评：6. 25价格以稳为主成交再生PP日评：6. 25价格以稳为主成交
                                    </p>
                                    <p>
                                        延续
                                    </p>

                                </div>

                            </a>

                        </li>

                        <li>
                            <a class="bfc" href="#">
                                <div class="_b-l-lst-l fl">
                                    <p>ABS</p>
                                    <p>日评</p>
                                </div>

                                <div class="_b-l-lst-r fr">
                                    12:04
                                </div>


                                <div class="_b-l-lst-m bfc">

                                    <p class="elp">
                                        再生PP日评：6. 25价格以稳为主成交再生PP日评：6. 25价格以稳为主成交
                                    </p>
                                    <p>
                                        延续
                                    </p>

                                </div>

                            </a>

                        </li>


                    </ul>


                </div>

                <div class="_b-l _b-m  ie8-border">

                    <!--塑料期货-->
                    <div class="_cnt-l-t">
                        <h3 class="_cnt-l-ttl">
                            塑料期货
                            <a href="javascript:;">更多+</a>
                        </h3>
                    </div>

                    <!-- 内容列表-->
                    <ul class="_b-l-lst">
                        <!-- 7个列表-->
                        <li>
                            <a class="bfc" href="#">
                                <div class="_b-l-lst-l fl">
                                    <p>ABS</p>
                                    <p>日评</p>
                                </div>

                                <div class="_b-l-lst-r fr">
                                    12:04
                                </div>


                                <div class="_b-l-lst-m bfc">

                                    <p class="elp">
                                        再生PP日评：6. 25价格以稳为主成交再生PP日评：6. 25价格以稳为主成交
                                    </p>
                                    <p>
                                        延续
                                    </p>

                                </div>

                            </a>

                        </li>

                        <li>
                            <a class="bfc" href="#">
                                <div class="_b-l-lst-l fl">
                                    <p>ABS</p>
                                    <p>日评</p>
                                </div>

                                <div class="_b-l-lst-r fr">
                                    12:04
                                </div>


                                <div class="_b-l-lst-m bfc">

                                    <p class="elp">
                                        再生PP日评：6. 25价格以稳为主成交再生PP日评：6. 25价格以稳为主成交
                                    </p>
                                    <p>
                                        延续
                                    </p>

                                </div>

                            </a>

                        </li>

                        <li>
                            <a class="bfc" href="#">
                                <div class="_b-l-lst-l fl">
                                    <p>ABS</p>
                                    <p>日评</p>
                                </div>

                                <div class="_b-l-lst-r fr">
                                    12:04
                                </div>


                                <div class="_b-l-lst-m bfc">

                                    <p class="elp">
                                        再生PP日评：6. 25价格以稳为主成交再生PP日评：6. 25价格以稳为主成交
                                    </p>
                                    <p>
                                        延续
                                    </p>

                                </div>

                            </a>

                        </li>

                        <li>
                            <a class="bfc" href="#">
                                <div class="_b-l-lst-l fl">
                                    <p>ABS</p>
                                    <p>日评</p>
                                </div>

                                <div class="_b-l-lst-r fr">
                                    12:04
                                </div>


                                <div class="_b-l-lst-m bfc">

                                    <p class="elp">
                                        再生PP日评：6. 25价格以稳为主成交再生PP日评：6. 25价格以稳为主成交
                                    </p>
                                    <p>
                                        延续
                                    </p>

                                </div>

                            </a>

                        </li>

                        <li>
                            <a class="bfc" href="#">
                                <div class="_b-l-lst-l fl">
                                    <p>ABS</p>
                                    <p>日评</p>
                                </div>

                                <div class="_b-l-lst-r fr">
                                    12:04
                                </div>


                                <div class="_b-l-lst-m bfc">

                                    <p class="elp">
                                        再生PP日评：6. 25价格以稳为主成交再生PP日评：6. 25价格以稳为主成交
                                    </p>
                                    <p>
                                        延续
                                    </p>

                                </div>

                            </a>

                        </li>

                        <li>
                            <a class="bfc" href="#">
                                <div class="_b-l-lst-l fl">
                                    <p>ABS</p>
                                    <p>日评</p>
                                </div>

                                <div class="_b-l-lst-r fr">
                                    12:04
                                </div>


                                <div class="_b-l-lst-m bfc">

                                    <p class="elp">
                                        再生PP日评：6. 25价格以稳为主成交再生PP日评：6. 25价格以稳为主成交
                                    </p>
                                    <p>
                                        延续
                                    </p>

                                </div>

                            </a>

                        </li>

                        <li>
                            <a class="bfc" href="#">
                                <div class="_b-l-lst-l fl">
                                    <p>ABS</p>
                                    <p>日评</p>
                                </div>

                                <div class="_b-l-lst-r fr">
                                    12:04
                                </div>


                                <div class="_b-l-lst-m bfc">

                                    <p class="elp">
                                        再生PP日评：6. 25价格以稳为主成交再生PP日评：6. 25价格以稳为主成交
                                    </p>
                                    <p>
                                        延续
                                    </p>

                                </div>

                            </a>

                        </li>


                    </ul>

                </div>

            </div>

        </div>

        <!-- 装置动态-->
        <div class="hyzx-cnt-zzdt ctr cfx">

            <!--右边列表-->
            <div class="_cnt-r fr ie8-border">

                <!--common ref _cnt-l-->
                <div class="_cnt-l-t">
                    <h3 class="_cnt-l-ttl">
                        外盘监控
                        <a class="_link" href="javascript:;">更多+</a>
                    </h3>
                </div>

                <ul class="_cnt-r-lst">
                    <li class="bfc elp">
                        <a href="#"> <span class="fr">12:11</span> <span>2019年4月份国内PE产量统计</span></a>

                    </li>
                    <li class="bfc elp">
                        <a href="#"> <span class="fr">12:11</span> <span>2019年4月份国内PE产量统计</span></a>

                    </li>
                    <li class="bfc elp">
                        <a href="#"> <span class="fr">12:11</span> <span>2019年4月份国内PE产量统计</span></a>

                    </li>
                    <li class="bfc elp">
                        <a href="#"> <span class="fr">12:11</span> <span>2019年4月份国内PE产量统计</span></a>

                    </li>
                    <li class="bfc elp">
                        <a href="#"> <span class="fr">12:11</span> <span>2019年4月份国内PE产量统计</span></a>

                    </li>
                    <li class="bfc elp">
                        <a href="#"> <span class="fr">12:11</span> <span>2019年4月份国内PE产量统计</span></a>

                    </li>
                    <li class="bfc elp">
                        <a href="#"> <span class="fr">12:11</span> <span>2019年4月份国内PE产量统计</span></a>

                    </li>
                    <li class="bfc elp">
                        <a href="#"> <span class="fr">12:11</span> <span>2019年4月份国内PE产量统计</span></a>

                    </li>
                    <li class="bfc elp">
                        <a href="#"> <span class="fr">12:11</span> <span>2019年4月份国内PE产量统计</span></a>

                    </li>
                    <li class="bfc elp">
                        <a href="#"> <span class="fr">12:11</span> <span>2019年4月份国内PE产量统计</span></a>

                    </li>


                </ul>


            </div>

            <!--左边大的表格-->
            <div class="_l  ">

                <!--上面标题-->
                <div class="_l-ttl _cnt-l-t">

                    <div class="_cnt-l-ttl">
                        <ul class="fr cfx">
                            <li class="active"> <a href="javascript:;">ABS</a> </li>
                            <li> <a href="javascript:;">PE</a> </li>
                            <li> <a href="javascript:;">PC</a> </li>
                            <li> <a href="javascript:;">PA</a> </li>
                            <li> <a href="javascript:;">POM</a> </li>
                            <li> <a href="javascript:;">PP</a> </li>
                            <li> <a href="javascript:;">更多+</a> </li>
                        </ul>
                        装置动态

                    </div>
                </div>

                <!--内容表格-->
                <div class="_l-tb ie8-border">

                    <!--ttl-->
                    <div class="_l-tb-ttl tb tb-fixed">
                        <div class="__itm1 tb-cell">
                            地区
                        </div>
                        <div class="__itm2 tb-cell">
                            厂商
                        </div>
                        <div class="__itm3 tb-cell">
                            动态
                        </div>
                    </div>

                    <!--content-->
                    <div class="_l-tb-bd ">

                        <!--item-->
                        <div class=" __itm tb tb-fixed">
                            <!--item-l-->
                            <div class="__itm1 tb-cell">
                                华南
                            </div>
                            <!--item-r-->
                            <div class="__itm2 tb-cell ">

                                <div class="tb tb-fixed">
                                    <div class=" __itm2-1 tb-cell  ">
                                        江苏斯尔邦石化
                                    </div>
                                    <div class="__itm2-2 tb-cell">
                                        目前装置维持满负荷运行。据悉厂家将于5月下旬对其年产20万吨0215A装置进行装置清洗，
                                        产量预估损失不大，另外两套总计年产40万吨装置期间将生产正常
                                    </div>
                                </div>
                                <!--item-r-->
                                <div class="tb tb-fixed">
                                    <div class="tb-cell  __itm2-1">
                                        江苏斯尔邦石化
                                    </div>
                                    <div class="tb-cell  __itm2-2">
                                        目前装置维持满负荷运行。据悉厂家将于5月下旬对其年产20万吨0215A装置进行装置清洗，
                                        产量预估损失不大，另外两套总计年产40万吨装置期间将生产正常
                                    </div>
                                </div>

                                <!--item-r-->
                                <div class="tb tb-fixed">
                                    <div class="tb-cell  __itm2-1">
                                        江苏斯尔邦石化
                                    </div>
                                    <div class="tb-cell  __itm2-2">
                                        目前装置维持满负荷运行。据悉厂家将于5月下旬对其年产20万吨

                                    </div>
                                </div>

                            </div>
                        </div>

                        <!--item-->
                        <div class=" __itm tb tb-fixed">
                            <!--item-l-->
                            <div class="__itm1 tb-cell">
                                华北
                            </div>
                            <!--item-r-->
                            <div class="__itm2 tb-cell ">

                                <div class="tb tb-fixed">
                                    <div class=" __itm2-1 tb-cell  ">
                                        江苏斯尔邦石化
                                    </div>
                                    <div class="__itm2-2 tb-cell">
                                        目前装置维持满负荷运行。据悉厂家将于5月下旬对其年产20万吨0215A装置进行装置清洗，
                                        产量预估损失不大，另外两套总计年产40万吨装置期间将生产正常
                                    </div>
                                </div>

                                <div class="tb tb-fixed">
                                    <div class="tb-cell  __itm2-1">
                                        江苏斯尔邦石化
                                    </div>
                                    <div class="tb-cell  __itm2-2">
                                        目前装置维持满负荷运行。据悉厂家将于5月下旬对其年产20万吨0215A装置进行装置清洗，
                                        产量预估损失不大，另外两套总计年产40万吨装置期间将生产正常
                                    </div>
                                </div>


                                <div class="tb tb-fixed">
                                    <div class="tb-cell  __itm2-1">
                                        江苏斯尔邦石化
                                    </div>
                                    <div class="tb-cell  __itm2-2">
                                        目前装置维持满负荷运行。据悉厂家将于5月下旬对其年产20万吨

                                    </div>
                                </div>

                            </div>
                        </div>

                        <!--item-->
                        <div class=" __itm tb tb-fixed">
                            <!--item-l-->
                            <div class="__itm1 tb-cell">
                                华中
                            </div>
                            <!--item-r-->
                            <div class="__itm2 tb-cell ">

                                <div class="tb tb-fixed">
                                    <div class=" __itm2-1 tb-cell  ">
                                        江苏斯尔邦石化江苏斯尔邦石化
                                    </div>
                                    <div class="__itm2-2 tb-cell">
                                        目前装置维持满负荷运行。据悉厂家将于5月下旬对其年产20万吨0215A装置进行装置清洗，
                                        产量预估损失不大，另外两套总计年产40万吨装置期间将生产正常
                                    </div>
                                </div>

                                <div class="tb tb-fixed">
                                    <div class="tb-cell  __itm2-1">
                                        江苏斯尔邦石化
                                    </div>
                                    <div class="tb-cell  __itm2-2">
                                        目前装置维持满负荷运行。据悉厂家将于5月下旬对其年产20万吨0215A装置进行装置清洗，
                                        产量预估损失不大，另外两套总计年产40万吨装置期间将生产正常
                                    </div>
                                </div>


                                <div class="tb tb-fixed">
                                    <div class="tb-cell  __itm2-1">
                                        江苏斯尔邦石化
                                    </div>
                                    <div class="tb-cell  __itm2-2">
                                        目前装置维持满负荷运行。据悉厂家将于5月下旬对其年产20万吨

                                    </div>
                                </div>

                            </div>
                        </div>

                        <!--item-->
                        <div class=" __itm tb tb-fixed">
                            <!--item-l-->
                            <div class="__itm1 tb-cell">
                                华东
                            </div>
                            <!--item-r-->
                            <div class="__itm2 tb-cell ">

                                <div class="tb tb-fixed">
                                    <div class=" __itm2-1 tb-cell  ">
                                        江苏斯尔邦石化江苏斯尔邦石化
                                    </div>
                                    <div class="__itm2-2 tb-cell">
                                        目前装置维持满负荷运行。据悉厂家将于5月下旬对其年产20万吨0215A装置进行装置清洗，
                                        产量预估损失不大，另外两套总计年产40万吨装置期间将生产正常
                                    </div>
                                </div>

                                <div class="tb tb-fixed">
                                    <div class="tb-cell  __itm2-1">
                                        江苏斯尔邦石化
                                    </div>
                                    <div class="tb-cell  __itm2-2">
                                        目前装置维持满负荷运行。据悉厂家将于5月下旬对其年产20万吨0215A装置进行装置清洗，
                                        产量预估损失不大，另外两套总计年产40万吨装置期间将生产正常
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!--item-->
                        <div class=" __itm tb tb-fixed">
                            <!--item-l-->
                            <div class="__itm1 tb-cell">
                                海外
                            </div>
                            <!--item-r-->
                            <div class="__itm2 tb-cell ">

                                <div class="tb tb-fixed">
                                    <div class="tb-cell  __itm2-1">
                                        江苏斯尔邦石化
                                    </div>
                                    <div class="tb-cell  __itm2-2">
                                        目前装置维持满负荷运行。据悉厂家将于5月下旬对其年产20万吨0215A装置进行装置清洗，
                                        产量预估损失不大，另外两套总计年产40万吨装置期间将生产正常
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>

                </div>

            </div>


        </div>

    </section>

    <!--icon-->
    <include src="../../template/_icon.html"></include>

    <!--footer-->
    <include src="../../template/_footer.html"></include>

    <!--置顶-->
    <div class="zhiding self">
        <img src="../../static/images/index/zhiding.png" alt="置顶" title="到页面顶部" />
        <!--<span class="iconicon-test iconfont"></span>-->
    </div>


</body>

</html>