<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>塑料期货</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="Keywords" content="" />
    <meta name="Description" content="" />
    <link rel="stylesheet" type="text/css" href="../../static/css/cstFonts/index/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/view/info.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lte IE 8]>
        <script src="../../static/js/html5shiv.js"  type="text/javascript" charset="utf-8"></script>
        <link rel="stylesheet" type="text/css" href="../../static/css/ie8.css" />
    <![endif]-->
    <!--check css-->
    <script src="../../static/js/modernizr-2.6.2.min.js" defer type="text/javascript" charset="utf-8"></script>
    <!--css3 prefix-->
    <script src="../../static/js/prefix-css3.min.js" defer type="text/javascript" charset="utf-8"></script>
    <script src="../../static/js/common-cdn.js" defer type="text/javascript" charset="utf-8"></script>

    <!--[if lte IE 9]>
         <script src="../../static/js/placeholder.js" defer type="text/javascript" charset="utf-8"></script>
    <![endif]-->

    <script data-parent="umd" data-umd="hyxw" defer src="../../static/js/view/info.js" type="text/javascript" charset="utf-8"></script>

</head>

<body class="hyzx">

    <!--header-->
    <include src="../../template/_header.html"  data-nav  data-index="2"></include>

    <!--searchbox-->
    <include src="../../template/_searchbox.html"></include>


    <!--content-->
    <section class="hyzx-cnt">

        <!--二级导航-->
        <include src="../../template/_nav2.html"  data-nav  data-index="4"></include>

        <!--行业新闻-->
        <div class="hyxw-cnt ctr cfx">


            <!--右边资讯-->
            <div class="hyxw-cnt-r fr">

                <!--塑料期货-->
                <div class="_b-l _b-m  ie8-border">

                    <!--标题-->
                    <div class="_cnt-l-t">
                        <h3 class="_cnt-l-ttl">
                            塑料期货
                            <a href="javascript:;">更多+</a>
                        </h3>
                    </div>

                    <!-- 内容列表-->
                    <ul class="_b-l-lst">
                        <!-- 7个列表-->
                        <li>
                            <a class="bfc" href="#">
                                <div class="_b-l-lst-l fl">
                                    <p>ABS</p>
                                    <p>日评</p>
                                </div>

                                <div class="_b-l-lst-r fr">
                                    12:04
                                </div>


                                <div class="_b-l-lst-m bfc">

                                    <p class="elp">
                                        再生PP日评：6. 25价格以稳为主成交再生PP日评：6. 25价格以稳为主成交
                                    </p>
                                    <p>
                                        延续
                                    </p>

                                </div>

                            </a>

                        </li>

                        <li>
                            <a class="bfc" href="#">
                                <div class="_b-l-lst-l fl">
                                    <p>ABS</p>
                                    <p>日评</p>
                                </div>

                                <div class="_b-l-lst-r fr">
                                    12:04
                                </div>


                                <div class="_b-l-lst-m bfc">

                                    <p class="elp">
                                        再生PP日评：6. 25价格以稳为主成交再生PP日评：6. 25价格以稳为主成交
                                    </p>
                                    <p>
                                        延续
                                    </p>

                                </div>

                            </a>

                        </li>

                        <li>
                            <a class="bfc" href="#">
                                <div class="_b-l-lst-l fl">
                                    <p>ABS</p>
                                    <p>日评</p>
                                </div>

                                <div class="_b-l-lst-r fr">
                                    12:04
                                </div>


                                <div class="_b-l-lst-m bfc">

                                    <p class="elp">
                                        再生PP日评：6. 25价格以稳为主成交再生PP日评：6. 25价格以稳为主成交
                                    </p>
                                    <p>
                                        延续
                                    </p>

                                </div>

                            </a>

                        </li>

                        <li>
                            <a class="bfc" href="#">
                                <div class="_b-l-lst-l fl">
                                    <p>ABS</p>
                                    <p>日评</p>
                                </div>

                                <div class="_b-l-lst-r fr">
                                    12:04
                                </div>


                                <div class="_b-l-lst-m bfc">

                                    <p class="elp">
                                        再生PP日评：6. 25价格以稳为主成交再生PP日评：6. 25价格以稳为主成交
                                    </p>
                                    <p>
                                        延续
                                    </p>

                                </div>

                            </a>

                        </li>

                        <li>
                            <a class="bfc" href="#">
                                <div class="_b-l-lst-l fl">
                                    <p>ABS</p>
                                    <p>日评</p>
                                </div>

                                <div class="_b-l-lst-r fr">
                                    12:04
                                </div>


                                <div class="_b-l-lst-m bfc">

                                    <p class="elp">
                                        再生PP日评：6. 25价格以稳为主成交再生PP日评：6. 25价格以稳为主成交
                                    </p>
                                    <p>
                                        延续
                                    </p>

                                </div>

                            </a>

                        </li>

                        <li>
                            <a class="bfc" href="#">
                                <div class="_b-l-lst-l fl">
                                    <p>ABS</p>
                                    <p>日评</p>
                                </div>

                                <div class="_b-l-lst-r fr">
                                    12:04
                                </div>


                                <div class="_b-l-lst-m bfc">

                                    <p class="elp">
                                        再生PP日评：6. 25价格以稳为主成交再生PP日评：6. 25价格以稳为主成交
                                    </p>
                                    <p>
                                        延续
                                    </p>

                                </div>

                            </a>

                        </li>

                        <li>
                            <a class="bfc" href="#">
                                <div class="_b-l-lst-l fl">
                                    <p>ABS</p>
                                    <p>日评</p>
                                </div>

                                <div class="_b-l-lst-r fr">
                                    12:04
                                </div>


                                <div class="_b-l-lst-m bfc">

                                    <p class="elp">
                                        再生PP日评：6. 25价格以稳为主成交再生PP日评：6. 25价格以稳为主成交
                                    </p>
                                    <p>
                                        延续
                                    </p>

                                </div>

                            </a>

                        </li>


                    </ul>

                </div>

                <!--品名日评-->
                <div class="_b-l  ie8-border">

                    <!--标题-->
                    <div class="_cnt-l-t">
                        <h3 class="_cnt-l-ttl">
                            品名日评
                            <a href="javascript:;">更多+</a>
                        </h3>
                    </div>

                    <!-- 内容列表-->
                    <ul class="_b-l-lst">
                        <!-- 7个列表-->
                        <li>
                            <a class="bfc" href="#">
                                <div class="_b-l-lst-l fl">
                                    <p>ABS</p>
                                    <p>日评</p>
                                </div>

                                <div class="_b-l-lst-r fr">
                                    12:04
                                </div>


                                <div class="_b-l-lst-m bfc">

                                    <p class="elp">
                                        再生PP日评：6. 25价格以稳为主成交再生PP日评：6. 25价格以稳为主成交
                                    </p>
                                    <p>
                                        延续
                                    </p>

                                </div>

                            </a>

                        </li>

                        <li>
                            <a class="bfc" href="#">
                                <div class="_b-l-lst-l fl">
                                    <p>ABS</p>
                                    <p>日评</p>
                                </div>

                                <div class="_b-l-lst-r fr">
                                    12:04
                                </div>


                                <div class="_b-l-lst-m bfc">

                                    <p class="elp">
                                        再生PP日评：6. 25价格以稳为主成交再生PP日评：6. 25价格以稳为主成交
                                    </p>
                                    <p>
                                        延续
                                    </p>

                                </div>

                            </a>

                        </li>

                        <li>
                            <a class="bfc" href="#">
                                <div class="_b-l-lst-l fl">
                                    <p>ABS</p>
                                    <p>日评</p>
                                </div>

                                <div class="_b-l-lst-r fr">
                                    12:04
                                </div>


                                <div class="_b-l-lst-m bfc">

                                    <p class="elp">
                                        再生PP日评：6. 25价格以稳为主成交再生PP日评：6. 25价格以稳为主成交
                                    </p>
                                    <p>
                                        延续
                                    </p>

                                </div>

                            </a>

                        </li>

                        <li>
                            <a class="bfc" href="#">
                                <div class="_b-l-lst-l fl">
                                    <p>ABS</p>
                                    <p>日评</p>
                                </div>

                                <div class="_b-l-lst-r fr">
                                    12:04
                                </div>


                                <div class="_b-l-lst-m bfc">

                                    <p class="elp">
                                        再生PP日评：6. 25价格以稳为主成交再生PP日评：6. 25价格以稳为主成交
                                    </p>
                                    <p>
                                        延续
                                    </p>

                                </div>

                            </a>

                        </li>

                        <li>
                            <a class="bfc" href="#">
                                <div class="_b-l-lst-l fl">
                                    <p>ABS</p>
                                    <p>日评</p>
                                </div>

                                <div class="_b-l-lst-r fr">
                                    12:04
                                </div>


                                <div class="_b-l-lst-m bfc">

                                    <p class="elp">
                                        再生PP日评：6. 25价格以稳为主成交再生PP日评：6. 25价格以稳为主成交
                                    </p>
                                    <p>
                                        延续
                                    </p>

                                </div>

                            </a>

                        </li>

                        <li>
                            <a class="bfc" href="#">
                                <div class="_b-l-lst-l fl">
                                    <p>ABS</p>
                                    <p>日评</p>
                                </div>

                                <div class="_b-l-lst-r fr">
                                    12:04
                                </div>


                                <div class="_b-l-lst-m bfc">

                                    <p class="elp">
                                        再生PP日评：6. 25价格以稳为主成交再生PP日评：6. 25价格以稳为主成交
                                    </p>
                                    <p>
                                        延续
                                    </p>

                                </div>

                            </a>

                        </li>

                        <li>
                            <a class="bfc" href="#">
                                <div class="_b-l-lst-l fl">
                                    <p>ABS</p>
                                    <p>日评</p>
                                </div>

                                <div class="_b-l-lst-r fr">
                                    12:04
                                </div>


                                <div class="_b-l-lst-m bfc">

                                    <p class="elp">
                                        再生PP日评：6. 25价格以稳为主成交再生PP日评：6. 25价格以稳为主成交
                                    </p>
                                    <p>
                                        延续
                                    </p>

                                </div>

                            </a>

                        </li>


                    </ul>


                </div>

                <!--上游动态-->
                <div class="_b-r  ie8-border">

                    <!--标题-->
                    <div class="_cnt-l-t bfc">

                        <h3 class="_cnt-l-ttl">
                            上游动态
                            <a href="javascript:;">更多+</a>
                        </h3>
                    </div>

                    <!-- 内容列表-->

                    <ul class="_b-r-lst">

                        <li class="_b-r-lst-itm">
                            <a href="#">
                                <h4 class="__ttl elp">聚四氟乙烯微孔薄膜的应用</h4>

                                <section class="__cnt bfc">
                                    <div class="fl __img">
                                        <img src="../../static/images/index/htzx-hyxw-banner02.png" alt="行业知识图" />
                                    </div>

                                    <p class="elp-3">作为聚四氟乙烯材料加工企业抓安全生产就要按标准条例严格执行。国家职业病诊断标准和处理标...</p>
                                </section>
                            </a>

                        </li>

                        <li class="_b-r-lst-itm">
                            <a href="#">
                                <h4 class="__ttl elp">聚四氟乙烯微孔薄膜的应用</h4>

                                <section class="__cnt bfc">
                                    <div class="fl __img">
                                        <img src="../../static/images/index/htzx-hyxw-banner02.png" alt="行业知识图" />
                                    </div>

                                    <p class="elp-3">作为聚四氟乙烯材料加工企业抓安全生产就要按标准条例严格执行。国家职业病诊断标准和处理标...</p>
                                </section>
                            </a>

                        </li>

                        <li class="_b-r-lst-itm">
                            <a href="#">
                                <h4 class="__ttl elp">聚四氟乙烯微孔薄膜的应用</h4>

                                <section class="__cnt bfc">
                                    <div class="fl __img">
                                        <img src="../../static/images/index/htzx-hyxw-banner02.png" alt="行业知识图" />
                                    </div>

                                    <p class="elp-3">作为聚四氟乙烯材料加工企业抓安全生产就要按标准条例严格执行。国家职业病诊断标准和处理标...</p>
                                </section>
                            </a>

                        </li>

                        <li class="_b-r-lst-itm">
                            <a href="#">
                                <h4 class="__ttl elp">聚四氟乙烯微孔薄膜的应用</h4>

                                <section class="__cnt bfc">
                                    <div class="fl __img">
                                        <img src="../../static/images/index/htzx-hyxw-banner02.png" alt="行业知识图" />
                                    </div>

                                    <p class="elp-3">作为聚四氟乙烯材料加工企业抓安全生产就要按标准条例严格执行。国家职业病诊断标准和处理标...</p>
                                </section>
                            </a>

                        </li>



                    </ul>

                </div>


            </div>

            <!--左边新闻-->
            <div class="hyxw-cnt-l bfc ie8-border">

                <!--新闻列表-->
                <ul>

                    <li class="_item">
                        <a href="#">
                            <h2>余姚塑料跌势难改余姚塑料跌势难改余姚塑料跌势难改余姚塑料跌势难改余姚塑料跌势难改</h2>
                            <p class="elp-2">

                                低密度聚乙烯(LDPE)普遍小跌。上周末，一般膜料主流报价9250~9650元(吨价，下同)。虽然原油和单体走势尚可，但下游工厂采购兴趣不大，石化企业库存压力偏大，降价销售的不在少数。...详情+
                            </p>
                            <footer class="cfx">
                                <span class="text-df">余姚</span>
                                <span class="text-df">LDPE</span>
                                <span class="text-primary">停工</span>
                                <span class="text-success">下跌</span>
                                <span class="fr">7-12</span>
                            </footer>

                        </a>
                    </li>

                    <li class="_item">
                        <a href="#">
                            <h2>余姚塑料跌势难改余姚塑料跌势难改余姚塑料跌势难改余姚塑料跌势难改余姚塑料跌势难改</h2>
                            <p class="elp-2">

                                低密度聚乙烯(LDPE)普遍小跌。上周末，一般膜料主流报价9250~9650元(吨价，下同)。虽然原油和单体走势尚可，但下游工厂采购兴趣不大，石化企业库存压力偏大，降价销售的不在少数。...详情+
                            </p>
                            <footer class="cfx">
                                <span class="text-df">余姚</span>
                                <span class="text-df">LDPE</span>
                                <span class="text-primary">停工</span>
                                <span class="text-success">下跌</span>
                                <span class="fr">7-12</span>
                            </footer>

                        </a>
                    </li>

                    <li class="_item">
                        <a href="#">
                            <h2>余姚塑料跌势难改余姚塑料跌势难改余姚塑料跌势难改余姚塑料跌势难改余姚塑料跌势难改</h2>
                            <p class="elp-2">

                                低密度聚乙烯(LDPE)普遍小跌。上周末，一般膜料主流报价9250~9650元(吨价，下同)。虽然原油和单体走势尚可，但下游工厂采购兴趣不大，石化企业库存压力偏大，降价销售的不在少数。...详情+
                            </p>
                            <footer class="cfx">
                                <span class="text-df">余姚</span>
                                <span class="text-df">LDPE</span>
                                <span class="text-primary">停工</span>
                                <span class="text-success">下跌</span>
                                <span class="fr">7-12</span>
                            </footer>

                        </a>
                    </li>

                    <li class="_item">
                        <a href="#">
                            <h2>余姚塑料跌势难改余姚塑料跌势难改余姚塑料跌势难改余姚塑料跌势难改余姚塑料跌势难改</h2>
                            <p class="elp-2">

                                低密度聚乙烯(LDPE)普遍小跌。上周末，一般膜料主流报价9250~9650元(吨价，下同)。虽然原油和单体走势尚可，但下游工厂采购兴趣不大，石化企业库存压力偏大，降价销售的不在少数。...详情+
                            </p>
                            <footer class="cfx">
                                <span class="text-df">余姚</span>
                                <span class="text-df">LDPE</span>
                                <span class="text-primary">停工</span>
                                <span class="text-success">下跌</span>
                                <span class="fr">7-12</span>
                            </footer>

                        </a>
                    </li>

                    <li class="_item">
                        <a href="#">
                            <h2>余姚塑料跌势难改余姚塑料跌势难改余姚塑料跌势难改余姚塑料跌势难改余姚塑料跌势难改</h2>
                            <p class="elp-2">

                                低密度聚乙烯(LDPE)普遍小跌。上周末，一般膜料主流报价9250~9650元(吨价，下同)。虽然原油和单体走势尚可，但下游工厂采购兴趣不大，石化企业库存压力偏大，降价销售的不在少数。...详情+
                            </p>
                            <footer class="cfx">
                                <span class="text-df">余姚</span>
                                <span class="text-df">LDPE</span>
                                <span class="text-primary">停工</span>
                                <span class="text-success">下跌</span>
                                <span class="fr">7-12</span>
                            </footer>

                        </a>
                    </li>

                    <li class="_item">
                        <a href="#">
                            <h2>余姚塑料跌势难改余姚塑料跌势难改余姚塑料跌势难改余姚塑料跌势难改余姚塑料跌势难改</h2>
                            <p class="elp-2">

                                低密度聚乙烯(LDPE)普遍小跌。上周末，一般膜料主流报价9250~9650元(吨价，下同)。虽然原油和单体走势尚可，但下游工厂采购兴趣不大，石化企业库存压力偏大，降价销售的不在少数。...详情+
                            </p>
                            <footer class="cfx">
                                <span class="text-df">余姚</span>
                                <span class="text-df">LDPE</span>
                                <span class="text-primary">停工</span>
                                <span class="text-success">下跌</span>
                                <span class="fr">7-12</span>
                            </footer>

                        </a>
                    </li>

                    <li class="_item">
                        <a href="#">
                            <h2>余姚塑料跌势难改余姚塑料跌势难改余姚塑料跌势难改余姚塑料跌势难改余姚塑料跌势难改</h2>
                            <p class="elp-2">

                                低密度聚乙烯(LDPE)普遍小跌。上周末，一般膜料主流报价9250~9650元(吨价，下同)。虽然原油和单体走势尚可，但下游工厂采购兴趣不大，石化企业库存压力偏大，降价销售的不在少数。...详情+
                            </p>
                            <footer class="cfx">
                                <span class="text-df">余姚</span>
                                <span class="text-df">LDPE</span>
                                <span class="text-primary">停工</span>
                                <span class="text-success">下跌</span>
                                <span class="fr">7-12</span>
                            </footer>

                        </a>
                    </li>

                    <li class="_item">
                        <a href="#">
                            <h2>余姚塑料跌势难改余姚塑料跌势难改余姚塑料跌势难改余姚塑料跌势难改余姚塑料跌势难改</h2>
                            <p class="elp-2">

                                低密度聚乙烯(LDPE)普遍小跌。上周末，一般膜料主流报价9250~9650元(吨价，下同)。虽然原油和单体走势尚可，但下游工厂采购兴趣不大，石化企业库存压力偏大，降价销售的不在少数。...详情+
                            </p>
                            <footer class="cfx">
                                <span class="text-df">余姚</span>
                                <span class="text-df">LDPE</span>
                                <span class="text-primary">停工</span>
                                <span class="text-success">下跌</span>
                                <span class="fr">7-12</span>
                            </footer>

                        </a>
                    </li>

                    <li class="_item">
                        <a href="#">
                            <h2>余姚塑料跌势难改余姚塑料跌势难改余姚塑料跌势难改余姚塑料跌势难改余姚塑料跌势难改</h2>
                            <p class="elp-2">

                                低密度聚乙烯(LDPE)普遍小跌。上周末，一般膜料主流报价9250~9650元(吨价，下同)。虽然原油和单体走势尚可，但下游工厂采购兴趣不大，石化企业库存压力偏大，降价销售的不在少数。...详情+
                            </p>
                            <footer class="cfx">
                                <span class="text-df">余姚</span>
                                <span class="text-df">LDPE</span>
                                <span class="text-primary">停工</span>
                                <span class="text-success">下跌</span>
                                <span class="fr">7-12</span>
                            </footer>

                        </a>
                    </li>

                    <li class="_item">
                        <a href="#">
                            <h2>余姚塑料跌势难改余姚塑料跌势难改余姚塑料跌势难改余姚塑料跌势难改余姚塑料跌势难改</h2>
                            <p class="elp-2">

                                低密度聚乙烯(LDPE)普遍小跌。上周末，一般膜料主流报价9250~9650元(吨价，下同)。虽然原油和单体走势尚可，但下游工厂采购兴趣不大，石化企业库存压力偏大，降价销售的不在少数。...详情+
                            </p>
                            <footer class="cfx">
                                <span class="text-df">余姚</span>
                                <span class="text-df">LDPE</span>
                                <span class="text-primary">停工</span>
                                <span class="text-success">下跌</span>
                                <span class="fr">7-12</span>
                            </footer>

                        </a>
                    </li>

                    <li class="_item">
                        <a href="#">
                            <h2>余姚塑料跌势难改余姚塑料跌势难改余姚塑料跌势难改余姚塑料跌势难改余姚塑料跌势难改</h2>
                            <p class="elp-2">

                                低密度聚乙烯(LDPE)普遍小跌。上周末，一般膜料主流报价9250~9650元(吨价，下同)。虽然原油和单体走势尚可，但下游工厂采购兴趣不大，石化企业库存压力偏大，降价销售的不在少数。...详情+
                            </p>
                            <footer class="cfx">
                                <span class="text-df">余姚</span>
                                <span class="text-df">LDPE</span>
                                <span class="text-primary">停工</span>
                                <span class="text-success">下跌</span>
                                <span class="fr">7-12</span>
                            </footer>

                        </a>
                    </li>

                    <li class="_item">
                        <a href="#">
                            <h2>余姚塑料跌势难改余姚塑料跌势难改余姚塑料跌势难改余姚塑料跌势难改余姚塑料跌势难改</h2>
                            <p class="elp-2">

                                低密度聚乙烯(LDPE)普遍小跌。上周末，一般膜料主流报价9250~9650元(吨价，下同)。虽然原油和单体走势尚可，但下游工厂采购兴趣不大，石化企业库存压力偏大，降价销售的不在少数。...详情+
                            </p>
                            <footer class="cfx">
                                <span class="text-df">余姚</span>
                                <span class="text-df">LDPE</span>
                                <span class="text-primary">停工</span>
                                <span class="text-success">下跌</span>
                                <span class="fr">7-12</span>
                            </footer>

                        </a>
                    </li>



                </ul>

                <!-- 分页-->
                <div class="hyxw-cnt-paging">
                    <div class="paging" style="text-align:center"></div>
                </div>

            </div>

        </div>


    </section>

    <!--icon-->
    <include src="../../template/_icon.html"></include>

    <!--footer-->
    <include src="../../template/_footer.html"></include>

    <!--置顶-->
    <div class="zhiding self">
        <img src="../../static/images/index/zhiding.png" alt="置顶" title="到页面顶部" />
        <!--<span class="iconicon-test iconfont"></span>-->
    </div>


</body>

</html>