<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>上游动态</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="Keywords" content="" />
    <meta name="Description" content="" />
    <link rel="stylesheet" type="text/css" href="../../static/css/cstFonts/index/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/view/info.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lte IE 8]>
        <script src="../../static/js/html5shiv.js"  type="text/javascript" charset="utf-8"></script>
        <link rel="stylesheet" type="text/css" href="../../static/css/ie8.css" />
    <![endif]-->
    <!--check css-->
    <script src="../../static/js/modernizr-2.6.2.min.js" defer type="text/javascript" charset="utf-8"></script>
    <!--css3 prefix-->
    <script src="../../static/js/prefix-css3.min.js" defer type="text/javascript" charset="utf-8"></script>
    <script src="../../static/js/common-cdn.js" defer type="text/javascript" charset="utf-8"></script>

    <!--[if lte IE 9]>
         <script src="../../static/js/placeholder.js" defer type="text/javascript" charset="utf-8"></script>
    <![endif]-->

    <script data-parent="umd" data-umd="hyxw" defer src="../../static/js/view/info.js" type="text/javascript" charset="utf-8"></script>

</head>

<body class="hyzx sydt">

    <!--header-->
    <include src="../../template/_header.html"  data-nav  data-index="2"></include>

    <!--searchbox-->
    <include src="../../template/_searchbox.html"></include>


    <!--content-->
    <section class="hyzx-cnt">

        <!--二级导航-->
        <include src="../../template/_nav2.html"  data-nav  data-index="2"></include>

        <!--行业新闻-->
        <div class="hyxw-cnt sydt-cnt ctr cfx">


            <!--右边资讯-->
            <div class="hyxw-cnt-r fr">

                <!--上游动态 更多-->
                <div class="_b-r  ie8-border">

                    <!-- 内容列表-->
                    <ul class="_b-r-lst">

                        <li class="_b-r-lst-itm">
                            <a href="#">
                                <h4 class="__ttl elp">聚四氟乙烯微孔薄膜的应用</h4>

                                <section class="__cnt bfc">
                                    <div class="fl __img">
                                        <img src="../../static/images/index/htzx-hyxw-banner02.png" alt="行业知识图" />
                                    </div>

                                    <p class="elp-3">作为聚四氟乙烯材料加工企业抓安全生产就要按标准条例严格执行。国家职业病诊断标准和处理标...</p>
                                </section>
                            </a>

                        </li>

                        <li class="_b-r-lst-itm">
                            <a href="#">
                                <h4 class="__ttl elp">聚四氟乙烯微孔薄膜的应用</h4>

                                <section class="__cnt bfc">
                                    <div class="fl __img">
                                        <img src="../../static/images/index/htzx-hyxw-banner02.png" alt="行业知识图" />
                                    </div>

                                    <p class="elp-3">作为聚四氟乙烯材料加工企业抓安全生产就要按标准条例严格执行。国家职业病诊断标准和处理标...</p>
                                </section>
                            </a>

                        </li>

                        <li class="_b-r-lst-itm">
                            <a href="#">
                                <h4 class="__ttl elp">聚四氟乙烯微孔薄膜的应用</h4>

                                <section class="__cnt bfc">
                                    <div class="fl __img">
                                        <img src="../../static/images/index/htzx-hyxw-banner02.png" alt="行业知识图" />
                                    </div>

                                    <p class="elp-3">作为聚四氟乙烯材料加工企业抓安全生产就要按标准条例严格执行。国家职业病诊断标准和处理标...</p>
                                </section>
                            </a>

                        </li>

                        <li class="_b-r-lst-itm">
                            <a href="#">
                                <h4 class="__ttl elp">聚四氟乙烯微孔薄膜的应用</h4>

                                <section class="__cnt bfc">
                                    <div class="fl __img">
                                        <img src="../../static/images/index/htzx-hyxw-banner02.png" alt="行业知识图" />
                                    </div>

                                    <p class="elp-3">作为聚四氟乙烯材料加工企业抓安全生产就要按标准条例严格执行。国家职业病诊断标准和处理标...</p>
                                </section>
                            </a>

                        </li>



                    </ul>

                    <!--上游动态 更多-->
                    <a class="_b-r-more " href="#">了解更多</a>

                </div>


            </div>

            <!--上游动态 列表-->
            <div class="hyxw-cnt-l  bfc ie8-border">

                <!--上游动态-->
                <div class="sydt-cnt">
                    <!--内容表格-->
                    <div class="_l-tb ie8-border">

                        <!--ttl-->
                        <div class="_l-tb-ttl tb tb-fixed">
                            <div class="__itm1 tb-cell">
                                地区
                            </div>
                            <div class="__itm2 tb-cell">
                                厂商
                            </div>
                            <div class="__itm3 tb-cell">
                                动态
                            </div>
                        </div>

                        <!--content-->
                        <div class="_l-tb-bd ">

                            <!--item-->
                            <div class=" __itm tb tb-fixed">
                                <!--item-l-->
                                <div class="__itm1 tb-cell">
                                    华南
                                </div>
                                <!--item-r-->
                                <div class="__itm2 tb-cell ">

                                    <div class="tb tb-fixed table-100">
                                        <div class=" __itm2-1 tb-cell  ">
                                            江苏斯尔邦石化
                                        </div>
                                        <div class="__itm2-2 tb-cell">
                                            目前装置维持满负荷运行。据悉厂家将于5月下旬对其年产20万吨0215A装置进行装置清洗，
                                            产量预估损失不大，另外两套总计年产40万吨装置期间将生产正常
                                        </div>
                                    </div>
                                    <!--item-r-->
                                    <div class="tb tb-fixed table-100">
                                        <div class="tb-cell  __itm2-1">
                                            江苏斯尔邦石化
                                        </div>
                                        <div class="tb-cell  __itm2-2">
                                            目前装置维持满负荷运行。据悉厂家将于5月下旬对其年产20万吨0215A装置进行装置清洗，
                                            产量预估损失不大，另外两套总计年产40万吨装置期间将生产正常
                                        </div>
                                    </div>

                                    <!--item-r-->
                                    <div class="tb tb-fixed ">
                                        <div class="tb-cell  __itm2-1">
                                            江苏斯尔邦石化
                                        </div>
                                        <div class="tb-cell  __itm2-2">
                                            目前装置维持满负荷运行。据悉厂家将于5月下旬对其年产20万吨

                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!--item-->
                            <div class=" __itm tb tb-fixed table-100">
                                <!--item-l-->
                                <div class="__itm1 tb-cell">
                                    华北
                                </div>
                                <!--item-r-->
                                <div class="__itm2 tb-cell ">

                                    <div class="tb tb-fixed table-100">
                                        <div class=" __itm2-1 tb-cell  ">
                                            江苏斯尔邦石化
                                        </div>
                                        <div class="__itm2-2 tb-cell">
                                            目前装置维持满负荷运行。据悉厂家将于5月下旬对其年产20万吨0215A装置进行装置清洗，
                                            产量预估损失不大，另外两套总计年产40万吨装置期间将生产正常
                                        </div>
                                    </div>

                                    <div class="tb tb-fixed">
                                        <div class="tb-cell  __itm2-1">
                                            江苏斯尔邦石化
                                        </div>
                                        <div class="tb-cell  __itm2-2">
                                            目前装置维持满负荷运行。据悉厂家将于5月下旬对其年产20万吨0215A装置进行装置清洗，
                                            产量预估损失不大，另外两套总计年产40万吨装置期间将生产正常
                                        </div>
                                    </div>


                                    <div class="tb tb-fixed table-100">
                                        <div class="tb-cell  __itm2-1">
                                            江苏斯尔邦石化
                                        </div>
                                        <div class="tb-cell  __itm2-2">
                                            目前装置维持满负荷运行。据悉厂家将于5月下旬对其年产20万吨

                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!--item-->
                            <div class=" __itm tb tb-fixed">
                                <!--item-l-->
                                <div class="__itm1 tb-cell">
                                    华中
                                </div>
                                <!--item-r-->
                                <div class="__itm2 tb-cell ">

                                    <div class="tb tb-fixed">
                                        <div class=" __itm2-1 tb-cell  ">
                                            江苏斯尔邦石化江苏斯尔邦石化
                                        </div>
                                        <div class="__itm2-2 tb-cell">
                                            目前装置维持满负荷运行。据悉厂家将于5月下旬对其年产20万吨0215A装置进行装置清洗，
                                            产量预估损失不大，另外两套总计年产40万吨装置期间将生产正常
                                        </div>
                                    </div>

                                    <div class="tb tb-fixed">
                                        <div class="tb-cell  __itm2-1">
                                            江苏斯尔邦石化
                                        </div>
                                        <div class="tb-cell  __itm2-2">
                                            目前装置维持满负荷运行。据悉厂家将于5月下旬对其年产20万吨0215A装置进行装置清洗，
                                            产量预估损失不大，另外两套总计年产40万吨装置期间将生产正常
                                        </div>
                                    </div>


                                    <div class="tb tb-fixed">
                                        <div class="tb-cell  __itm2-1">
                                            江苏斯尔邦石化
                                        </div>
                                        <div class="tb-cell  __itm2-2">
                                            目前装置维持满负荷运行。据悉厂家将于5月下旬对其年产20万吨

                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!--item-->
                            <div class=" __itm tb tb-fixed">
                                <!--item-l-->
                                <div class="__itm1 tb-cell">
                                    华东
                                </div>
                                <!--item-r-->
                                <div class="__itm2 tb-cell ">

                                    <div class="tb tb-fixed">
                                        <div class=" __itm2-1 tb-cell  ">
                                            江苏斯尔邦石化江苏斯尔邦石化
                                        </div>
                                        <div class="__itm2-2 tb-cell">
                                            目前装置维持满负荷运行。据悉厂家将于5月下旬对其年产20万吨0215A装置进行装置清洗，
                                            产量预估损失不大，另外两套总计年产40万吨装置期间将生产正常
                                        </div>
                                    </div>

                                    <div class="tb tb-fixed">
                                        <div class="tb-cell  __itm2-1">
                                            江苏斯尔邦石化
                                        </div>
                                        <div class="tb-cell  __itm2-2">
                                            目前装置维持满负荷运行。据悉厂家将于5月下旬对其年产20万吨0215A装置进行装置清洗，
                                            产量预估损失不大，另外两套总计年产40万吨装置期间将生产正常
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!--item-->
                            <div class=" __itm tb tb-fixed">
                                <!--item-l-->
                                <div class="__itm1 tb-cell">
                                    海外
                                </div>
                                <!--item-r-->
                                <div class="__itm2 tb-cell ">

                                    <div class="tb tb-fixed">
                                        <div class="tb-cell  __itm2-1">
                                            江苏斯尔邦石化
                                        </div>
                                        <div class="tb-cell  __itm2-2">
                                            目前装置维持满负荷运行。据悉厂家将于5月下旬对其年产20万吨0215A装置进行装置清洗，
                                            产量预估损失不大，另外两套总计年产40万吨装置期间将生产正常
                                        </div>
                                    </div>

                                </div>
                            </div>


                        </div>

                    </div>
                </div>

                <!-- 分页-->
                <div class="hyxw-cnt-paging">
                    <div class="paging" style="text-align:center"></div>
                </div>

            </div>

        </div>


    </section>

    <!--icon-->
    <include src="../../template/_icon.html"></include>

    <!--footer-->
    <include src="../../template/_footer.html"></include>

    <!--置顶-->
    <div class="zhiding self">
        <img src="../../static/images/index/zhiding.png" alt="置顶" title="到页面顶部" />
        <!--<span class="iconicon-test iconfont"></span>-->
    </div>


</body>

</html>