
@import "../var.scss";

.hyxw {
}

.hyxw-cnt {
}


.hyxw-cnt-l,
.hyxw-cnt-r {
    min-height: 100px;
    background: #fff;
}

.hyxw-cnt-l {
    width: 788px;
    padding: 15px 0;
    box-shadow: 0px 0px 12px 0px rgba(57, 57, 57, 0.14);
    // news list
    perspective: 1200px;
    transform-style: preserve-3d;

    ul {
        background: #fff;
    }

    ._item {
        margin: 0 20px;
        padding: 15px 10px 15px;
        border-radius: 5px;
        transition: all .5s ease;
        transform-origin: center center;
        // box-shadow: 0 0 5px 2px rgba(0,0,0,.125);
        // transform: translateZ(-15px) rotateX(25deg);
        border-bottom: 1px solid $line;

        & + ._item {
          
        }



        &:hover {
            transform: rotateX(5deg) skew(5deg);
            background: #fff;
            box-shadow: 0 0 20px 10px rgba(0,0,0,.15);
        }
        /*&:nth-child(odd) {
            transform: rotateX(-10deg) skew(-5deg)
        }

        &:nth-child(even) {
             transform: rotateX(10deg) skew(5deg)
        }*/
        h2 {
            width: 60%;
            margin-bottom: 20px;
            font-size: 20px;
            font-weight: bold;
            color: $pricevs-ttl-color;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        p {
            height: 48px;
            margin-bottom: 16px;
            font-size: 16px;
            color: $index-top-color;
            overflow: hidden;

            a {
                color: $index-top-color;

                &:hover {
                    color: $bg-active;
                }
            }
        }


        footer {
            span {
                display: inline-block;
                vertical-align: middle;
                padding: 0 8px;
                line-height: 20px;
                font-size: 12px;
                background: #E8E8E9;
                background: rgba(#1e2128,.1);

                & + span {
                    margin-left: 20px;
                }
            }

            .fr {
                color: $time-color;
                background: transparent;
            }
        }
    }
}

// supper ie8-ie11
.hyxw-cnt-r {
    width: 376px;

    ._b-l,
    ._b-m,
    ._b-r {
        margin-bottom: 40px;
        padding: 30px 20px 5px;
        box-shadow: 0px 0px 12px 0px rgba(57, 57, 57, 0.14);
    }

    ._b-l {


        li {
            margin-bottom: 12px;

            a {
                padding: 5px;
                border-radius: 5px;
            }

            a:hover {
                background: $bg-hover;

                ._b-l-lst-r {
                    color: $text-danger;
                }
            }
        }
    }

    ._b-l-lst {


        a {
            display: block;
        }
    }

    ._b-l-lst-l {
        padding: 0 5px;
        margin-right: 8px;
        background-color: #EBF7E9;
        background-color: rgba( #3dac2c,.1);
        border-radius: 4px;

        p {
            text-align: center;
            color: #3dac2c;
            font-weight: bold;
        }
    }

    ._b-l-lst-r {
        margin-left: 20px;
        color: $text-gray;
    }

    ._b-l-lst-m {
        p {
            color: $text-h;
        }
    }
    //._b-m
    ._b-m {


        ._b-l-lst-l {
            padding: 0 5px;
            margin-right: 8px;
            background-color: #E5EAF5;
            background-color: rgba( $bg-active,.1);
            border-radius: 4px;

            p {
                text-align: center;
                color: $bg-active;
                font-weight: bold;
            }
        }
    }
    // ._b-r
    ._b-r {


        ._cnt-l-t ul {
            background-color: #ffffff;


            > li {
                float: left;

                & + li {
                    margin-left: 15px;
                }

                &:hover {
                    cursor: pointer;
                }


                &.active {
                    color: $bg-active;
                    font-weight: bold;
                }
            }
        }
    }

    ._b-r-lst {

        > li {
            margin-bottom: 2px;

            > a {
                display: block;
                padding: 10px;
                border-radius: 5px;

                &:hover {
                    background: $bg-hover;

                    h4 {
                        color: $bg-active;
                    }
                }
            }
        }

        h4 {
            margin-bottom: 10px;
            font-size: 18px;
            line-height: 1;
            color: $text-h;
        }

        img {
            vertical-align: text-top;
        }

        p {
            font-size: 14px;
            height: 63px;
            overflow: hidden;
            color: $text-gray;
        }

        .__ttl {
            font-size: 16px;
        }

        .__cnt {
            .__img {
                width: 102px;
                height: 64px;
                margin-right: 20px;
                overflow: hidden;

                &:hover img {
                    transform: scale(1.1);
                }

                img {
                    height: 100%;
                    width: 100%;
                    transition: all .5s;
                }
            }
        }
    }
    // _b-r-more
    ._b-r-more {
        display: block;
        margin-top: 10px;
         margin-bottom:10px;
        line-height: 32px;
        text-align: center;
        background-color: #ffffff;
        border-radius: 4px;
        border: solid 1px $bg-active;
        color: $bg-active;
        transition: all .5s;

        &:hover {
            background: $bg-active;
            color: #fff;
        }
    }

}


.hyxw-cnt-paging{
     margin-top:30px;
}