<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>物性表详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="Keywords" content="" />
    <meta name="Description" content="" />
    <link rel="stylesheet" type="text/css" href="../../static/css/cstFonts/index/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/view/matter.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lte IE 8]>
        <script src="../../static/js/html5shiv.js"  type="text/javascript" charset="utf-8"></script>
        <link rel="stylesheet" type="text/css" href="../../static/css/ie8.css" />
    <![endif]-->
    <!--check css-->
    <script src="../../static/js/modernizr-2.6.2.min.js" defer type="text/javascript" charset="utf-8"></script>
    <!--css3 prefix-->
    <script src="../../static/js/prefix-css3.min.js" defer type="text/javascript" charset="utf-8"></script>
    <script src="../../static/js/common-cdn.js" defer type="text/javascript" charset="utf-8"></script>

    <!--[if lte IE 9]>
         <script src="../../static/js/placeholder.js" defer type="text/javascript" charset="utf-8"></script>
    <![endif]-->

    <script data-parent="umd" data-umd="matter" defer src="../../static/js/view/matter.js" type="text/javascript" charset="utf-8"></script>

</head>

<body class="matterdtl">

    <!--header-->
    <include src="../../template/_header.html"  data-nav  data-index="5"></include>

    <!--searchbox-->
    <include src="../../template/_searchbox.html"></include>


    <!--content-->
    <section class="matterdtl-cnt  ctr cfx">

        <!--右边资讯-->
        <div class="matterdtl-cnt-r">

            <!-- 今日报价-->
            <div class="_r-rp  cfx  ie8-border">
                <div class="_b-l">

                    <!--今日报价-->
                    <div class="_cnt-l-t">
                        <h3 class="_cnt-l-ttl">
                            今日报价
                            <a href="javascript:;">更多+</a>
                        </h3>
                    </div>

                    <!-- 内容列表-->
                    <div class="_b-l-lst">

                        <div class="tb tb-fixed table-100">
                            <div class="tb-cell elp text-left table-2 text-primary">
                                东莞
                            </div>
                            <div class="tb-cell elp text-center table-2 text-muted">
                                PA-757
                            </div>
                            <div class="tb-cell elp text-center table-4  text-danger">
                                ￥12000.00元/吨
                            </div>
                            <div class="tb-cell elp text-right table-2">
                                <a class="__btn">查看</a>
                            </div>

                        </div>

                        <div class="tb tb-fixed table-100">
                            <div class="tb-cell elp text-left table-2 text-primary">
                                东莞
                            </div>
                            <div class="tb-cell elp text-center table-2 text-muted">
                                PA-757
                            </div>
                            <div class="tb-cell elp text-center table-4 text-danger">
                                ￥12000.00元/吨
                            </div>
                            <div class="tb-cell elp text-right table-2">
                                <a class="__btn">查看</a>
                            </div>
                        </div>
                        <div class="tb tb-fixed table-100">
                            <div class="tb-cell elp text-left table-2 text-primary">
                                东莞
                            </div>
                            <div class="tb-cell elp text-center table-2 text-muted">
                                PA-757
                            </div>
                            <div class="tb-cell elp text-center table-4  text-danger">
                                ￥12000.00元/吨
                            </div>
                            <div class="tb-cell elp text-right table-2">
                                <a class="__btn">查看</a>
                            </div>

                        </div>

                        <div class="tb tb-fixed table-100">
                            <div class="tb-cell elp text-left table-2 text-primary">
                                东莞
                            </div>
                            <div class="tb-cell elp text-center table-2 text-muted">
                                PA-757
                            </div>
                            <div class="tb-cell elp text-center table-4 text-danger">
                                ￥12000.00元/吨
                            </div>
                            <div class="tb-cell elp text-right table-2">
                                <a class="__btn">查看</a>
                            </div>
                        </div>

                    </div>


                </div>
            </div>

            <!--今日行情-->
            <div class="_r-hq cfx  ie8-border">
                <h3 class="_r-hq-ttl">
                    今<img src=" ../../static/images/index/q.png" alt="Alternate Text" />行情
                    <a href="javascript:;">更多+</a>
                </h3>
                <ul class="_r-hq-lst">
                    <li>
                        <a class="elp" href="#">
                            <span class="">12:34</span>
                            <img src=" ../../static/images/index/hq1.png" alt="今日行情 icon" />
                            ABS塑料原料华东地区今日价格上涨塑料原料华东地区今日价格上涨
                        </a>

                    </li>
                    <li>
                        <a class="elp" href="#">
                            <span class="">12:34</span>
                            <img src=" ../../static/images/index/hq2.png" alt="今日行情 icon" />
                            ABS塑料原料华东地区今日价格上涨
                        </a>
                    </li>
                    <li>
                        <a class="elp" href="#">
                            <span class="">12:34</span>
                            <img src=" ../../static/images/index/hq3.png" alt="今日行情 icon" />
                            ABS塑料原料华东地区今日价格上涨
                        </a>
                    </li>

                    <li>
                        <a class="elp not-icon" href="#">
                            <span class="">12:34</span>
                            ABS塑料原料华东地区今日价格上涨
                        </a>
                    </li>
                    <li>
                        <a class="elp not-icon" href="#">
                            <span class="">12:34</span>
                            ABS塑料原料华东地区今日价格上涨
                        </a>
                    </li>
                    <li>
                        <a class="elp not-icon" href="#">
                            <span class="">12:34</span>
                            ABS塑料原料华东地区今日价格上涨
                        </a>
                    </li>
                    <li>
                        <a class="elp not-icon" href="#">
                            <span class="">12:34</span>
                            ABS塑料原料华东地区今日价格上涨
                        </a>
                    </li>
                    <li>
                        <a class="elp not-icon" href="#">
                            <span class="">12:34</span>
                            ABS塑料原料华东地区今日价格上涨
                        </a>
                    </li>
                    <li>
                        <a class="elp not-icon" href="#">
                            <span class="">12:34</span>
                            ABS塑料原料华东地区今日价格上涨
                        </a>
                    </li>

                </ul>

            </div>
        </div>

        <!--左边详情图-->
        <div class="matterdtl-cnt-l ie8-border ">
            <img src="../../static/images/index/matter/wxb-xq-banner01.png" alt="物性表详情图片" />

        </div>

    </section>

    <!--icon-->
    <include src="../../template/_icon.html"></include>

    <!--footer-->
    <include src="../../template/_footer.html"></include>

    <!--置顶-->
    <div class="zhiding self">
        <img src="../../static/images/index/zhiding.png" alt="置顶" title="到页面顶部" />
        <!--<span class="iconicon-test iconfont"></span>-->
    </div>


</body>

</html>