
<!--footer-->
<footer class="common-ft">

    <div class="ctr">


        <ul class="common-ft-nav cfx">

            <li>
                <a href="../index" title="首页">首页</a>
            </li>

            <li>
                <a href="../pricevs" title="价格对比">价格对比</a>
            </li>

            <li>
                <a href="../info/hyzx.html" title="行业资讯">行业资讯</a>
            </li>

            <li>
                <a href="../info/hyzl.html" title="行业资料">行业资料</a>
            </li>

            <li>
                <a href="../pricemap" title="价格走势">价格走势</a>
            </li>

            <li>
                <a href="../matter" title="物性表">物性表</a>
            </li>

        </ul>


        <div class="common-ft-dl cfx">
            <dl>
                <dt>
                    成为会员
                </dt>


                <dd>
                    <a href="../help/member.html">
                        如何成为会员

                    </a>

                </dd>
                <dd>
                    <a href="../help/rules.html">
                        塑金交易规则

                    </a>

                </dd>
                <dd>
                    <a href="../help/agreement.html">
                        塑金注册协议

                    </a>

                </dd>
                <dd>
                    <a href="../help/privacy.html">
                        隐私声明
                    </a>

                </dd>
            </dl>

            <dl>
                <dt>
                    关于我们
                </dt>

                <dd> <a href="../help/index.html">公司介绍</a></dd>

                <dd> <a href="../help/history.html">发展历程</a></dd>

                <dd> <a href="../help/contact.html">联系我们</a></dd>

                <dd> <a href="../help/join.html">加入我们</a></dd>
            </dl>

            <dl>
                <dt>
                    买方指南
                </dt>

                <dd> <a href="../help/compare.html">如何比价</a></dd>
            </dl>

            <dl>
                <dt>
                    服务热线
                </dt>

                <dd> <a >（9:00-17:00 周一至周五）</a></dd>
                <dd class="_tel">
                    0769-87139333
                </dd>
            </dl>


        </div>

        <div class="common-ft-cp">
            <p>COPYRIGHT <a href="http://sujin1688.com"  target="_blank">©塑金在线 www.sujin1688.com</a>   粤ICP备17088510号</p>
        </div>


        <div class="common-ft-fixed">
            <a href="../index">
                <img src="../../static/images/index/ft-logo.png" alt="logo 图" />

            </a>

            <div class="_wxcode">
                <span>免费报价</span>
                <img src="../../static/images/index/ft-wx.png" alt="微信扫码" />
                <span>行情热点</span>
                <div class="_txt">
                    微信扫码
                </div>
            </div>

        </div>

    </div>

</footer>