   <!--top -->
<header class="common-hd">
    <div class="common-hd-t">
        <div class="container">
            <a class="common-hd-t-l" href="javascript:;">
                <img src="../../static/images/index/min-logo.png" alt="min logo" />
                <span>首页</span>
            </a>
            <a class="common-hd-t-r" href="javascript:;">加入收藏</a>
        </div>

    </div>

    <!--nav list-->
    <nav class="common-hd-nav">
        <div class="common-hd-nav-wpr">

            <div class="common-hd-nav-l">
                <h1>
                    <a href="../index">

                        <img src="../../static/images/index/logo.png" alt="home logo" />
                        <span>
                            塑金在线
                            www.sujin1688.com
                        </span>
                    </a>
                </h1>
                
            </div>

            <div class="common-hd-nav-r">
                <a href="../login/reg.html">注册</a>
                <span class="_line"></span>
                <a href="../login"> 登录</a>
            </div>

            <div class="common-hd-nav-m  nav">

                <ul class="nav">
                    <li class="active"><a href="../index/">首页</a></li>
                    <li class="">
                        <a href="../pricevs">
                            <img src="../../static/images/index/hot.png" alt="价格对比" />
                            价格对比

                        </a>
                    </li>
                    <li class=""><a href="../info/hyzx.html">行业资讯</a></li>
                    <li class=""><a href="../info/hyzl.html">行业资料</a></li>
                    <li class=""><a href="../pricemap/">价格走势</a></li>
                    <li class=""><a href="../matter/">物性表</a></li>
                    <li class=""><a href="../help/" >关于我们</a></li>
                </ul>


            </div>

        </div>

    </nav>

</header>