
<!--icon-->
<div class="common-icon ctr">
    <ul class="_lst2 cfx">
        <li>
            <img class="_lst2-l" src="../../static/images/index/jgdb-jq-bz-01.png" alt="平台担保图" />

        </li>
        <li>
            <img class="_lst2-l" src="../../static/images/index/jgdb-jq-bz-02.png" alt="正品保障图" />


        </li>
        <li>
            <img class="_lst2-l" src="../../static/images/index/jgdb-jq-bz-03.png" alt="杜绝假货图" />

        </li>
        <li>
            <img class="_lst2-l" src="../../static/images/index/jgdb-jq-bz-04.png" alt="优先赔付图" />

        </li>


    </ul>
</div>
