<!--二级导航-->
<div class="hyzx-cnt-nav ctr">

    <!--nav-ttl-->
    <nav class="_nav nav">
        <a  class ="nav-item" href="./hyzx.html">全部</a>
        <a   class ="nav-item" href="./hyzx-hyxw.html">行业新闻</a>
        <a   class ="nav-item"href="./hyzx-sydt.html">上游动态</a>
        <a class ="nav-item" href="./hyzx-jrdp.html">品名日评</a>
        <a  class ="nav-item" href="./hyzx-slqh.html">塑料期货</a>
    </nav>
    <!-- nav keyword-->
    <ul class="_key">
        <li>
            <span>通用塑料:</span>
            <a class="active" href="#">ABS</a>
            <a href="#">PP</a>
            <a href="#">PE</a>
            <a href="#">PC</a>
            <a href="#">PVC</a>
            <a href="#">EPS</a>
        </li>
        <li>
            <span>工程塑料:</span>
            <a href="#">PC</a>
            <a href="#">PA</a>
            <a href="#">PMMA</a>
            <a href="#">PET</a>
            <a href="#">POM</a>
            <a href="#">EPS</a>
            <a href="#">EBT</a>
        </li>

        <li>
            <span>单体:</span>
            <a href="#">丙烯</a>
            <a href="#">乙烯</a>
            <a href="#">氯乙烯</a>
            <a href="#">苯乙烯</a>

        </li>
    </ul>

</div>