
<!--searchbox-->
<div class="common-cnt-search container">

    <div class="common-cnt-search-input">
        <div class="_l">
            <span class="_city">东莞</span>
            <span class="iconfont iconarow-b"></span>
        </div>

        <a class="_r" href="javascript:;">
            <img src="../../static/images/index/search.png" alt="Alternate Text" />
            <span>搜索</span>
        </a>
        <div class="_m">
            <input type="text" name="name" value="" placeholder="请输入品名，厂商或者牌号对比价格，如：PA-757" autocomplete="off" />
        </div>

        <!--<div class="_wxcode">
            <span class="_nth1">免费报价</span>
            <img src="../../static/images/index/wxcode.png" alt="微信扫码" />
            <span class="_nth2">行情热点</span>
            <div>微信扫码</div>

        </div>-->

    </div>

    <div class="common-cnt-search-keys">
        <ul>
            <li>热搜词：</li>
            <li><a href="javascript:;">PA-757</a></li>
            <li><a href="javascript:;">AG15A1</a></li>
            <li><a href="javascript:;">PA-757</a></li>
            <li><a href="javascript:;">ABS</a></li>
            <li><a href="javascript:;">PC</a></li>
        </ul>

    </div>

</div>
