

<!--会员中心导航栏模块-->
    <div class="common-nav header">
        
        <div class="nav">
            <div class="portrait-wrap">
                <div class="portrait"><a href="#"><img src="../../static/images/member/hyzx-zdh-tx.png" /></a>
                    
                </div>
                <div class="phone">18875927840</div>
            </div>
            <div class="nav-title">
                <img src="../../static/images/member/hyzx-zdh-zhgl.png" />
                <span>账号管理</span>
            </div>
            <ul class="nav-li">
                <li><a href="index.html">会员信息</a></li>

            </ul>

            <div class="nav-title">
                <img src="../../static/images/member/hyzx-zdh-scgl.png" />

                <span>收藏管理</span>
            </div>
            <ul class="nav-li">
                <li><a href="collect.html">商品收藏</a></li>

            </ul>

        </div>
    </div>
