
@import "../var.scss";

.pricemap {
}

.pricemap-cnt {
}

.pricemap-cnt-tab {

    .v-tab-btns {
        margin-bottom: 20px;
        text-align: center;

        .v-tab-btn {
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            letter-spacing: 0px;
            color: $index-top-color;

            &.active {
                position: relative;
                color: $text-h;
                font-weight: bold;
                padding-bottom: 5px;


                &:after {
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    content: "";
                    display: inline-block;
                    width: 21px;
                    height: 4px;
                    background: $bg-active;
                }
            }

            & + .v-tab-btn {
                margin-left: 60px;
            }
        }
    }

    .v-tab-cnt {
        background-color: #ffffff;
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.14);
    }

    .v-tab-cnt-item {
        .tb {
            width: 100%;
        }

        ._item {
            border-bottom: 1px solid $line;


            &.active {
                max-height: 600px;

                ._item-btn .iconfont {
                    transform: rotate(180deg);
                }
            }
        }

        ._item-l {
            width: 140px;
            padding-left: 20px;
            padding-top: 20px;
            background: $pricevs-ttl-bg;
            font-size: 18px;
        }

        ._item-m {
            padding-top: 20px;
            width: 900px;
            vertical-align: top;
            padding-right: 30px;

            ul {
                text-align: justify;
                text-justify: inter-ideograph;
                font-size: 0;
            }

            li {
                display: inline-block;
                vertical-align: top;
                padding: 3px 5px;
                font-size: 14px;
                margin-left: 30px;
                margin-bottom: 10px;
                color: $text-h;
                cursor: pointer;
                border: 1px solid transparent;


                &.active {
                    border: 1px solid;
                    color: $bg-active;
                    box-shadow: inset 0 2px 5px rgba(0, 51, 153, 0.2);
                }
            }
        }

        ._item-btn {
            padding-top: 20px;
            text-align: center;
            cursor: pointer;
            user-select: none;

            .iconfont {
                color: $bg-active;
                margin-left: 5px;
                transition: all .5s;
            }
        }



        ._result {
            padding: 20px;

            li {
                float: left;
            }
        }
    }
}

.pricemap-cnt-slt {
    margin-top: 30px;
    margin-bottom: 30px;

    ._slt {
        height: 36px;
         
        > ul {
            display: inline-block;
            vertical-align: top;

            > li {
                width: 170px;
                float: left;
                padding-left: 10px;
                padding-right: 10px;
                border-bottom: 2px solid $bg-active;
                background-color: #f5f8fa;

                & + li {
                    margin-left: 20px;
                }

                label {
                    line-height: 36px;
                }

                .bfc {
                    position: relative;
                }

                input[type=text] {
                    width: 100%;
                    height: 36px;
                    border: none;
                    font-size: 14px;
                    line-height: 20px;
                    padding: 8px 5px 8px 10px;
                    padding-right: 25px;
                    color: $bg-active;
                    background-color: #f5f8fa;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                input[type=text]:focus ~ .iconfont {
                    transform: rotate(180deg);
                }

                .iconfont {
                    position: absolute;
                    top: 0;
                    right: 0;
                    line-height: 36px;
                    transition: transform .5s ease;
                    color: $bg-active;
                }
            }
        }

        .v-dropdown-menu {
            max-height: 300px;
            overflow-y: auto;
        }

        > a {
            display: inline-block;
            margin-left: 20px;
            line-height: 36px;
            padding: 0 20px;
            background: $bg-active;
            color: #fff;

            &:hover {
                color: darken(#fff,5%);
                background: darken($bg-active,5%);
            }
        }
    }

    ._btn {
        position: relative;

        > a {
            display: inline-block;
            padding: 0 20px;
            line-height: 36px;
            background: $bg-active;
            color: #fff;
            vertical-align: middle;
        }

        ._count {
            position: absolute;
            top: -10px;
            right: -5px;
            padding: 0 4px;
            border-radius: 5px;
            background-color: $text-warning;
            color: $pricevs-ttl-color;
            font-size: 12px;
            box-shadow: 0px 0px 12px 0px rgba(57, 57, 57, 0.14);
        }

        .v-dropdown-menu {
            width: 270px;
            max-height: 360px;
            padding: 15px 20px 0;
            overflow-y: auto;
            border: 1px solid $text-primary;
            border-radius: 5px 0 5px 5px;
            box-shadow: 0 0 20px lighten($text-primary,50%);

            h3 {
                margin-top: 5px;
                color: $text-h;
                font-weight: bold;
                line-height: 1;
            }

            li {
                margin-bottom: 20px;
                position: relative;
                &:hover{
                     background:none;
                }

                ._close {
                    position: absolute;
                    right: -1px;
                    top: -12px;
                     padding:5px;
                    font-size: 24px;
                    font-weight: 100;
                    color: #fff;
                    cursor:pointer;

                    &:hover {
                        color: darken(#fff,10%);
                    }
                }

                a {
                    display: block;
                    background: $bg-active;
                    background-image: linear-gradient(to top, $text-primary 0%, #477be4 100%);
                    color: #fff;

                    &:hover {
                        background-image: linear-gradient(to top, darken($text-primary,10%) 0%, #477be4 100%);
                        color: #fff;
                    }
                }

                p {
                    font-size: 16px;
                    font-weight: bold;
                    margin-bottom: 5px;
                     padding-right: 20px;
                }

                div.elp {
                    font-size: 14px;
                }

                & + li {
                }
            }
        }
    }
}


.pricemap-cnt-lst {
    margin-bottom: 60px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);

    ._tb-ttl {
        height: 62px;
        background: $pricevs-ttl-bg;
        font-size: 16px;
    }

    .tb {
        width: 100%;
         border-collapse:collapse;
        
        .tb-cell {
            width: 100%;
            text-align: center;
            vertical-align: middle;
            height: 44px;
            color: $text-h;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 15px;
           
            &.text-danger {
                color: $text-danger;
                font-weight: bold;
            }

            ._btn-select {
                display: inline-block;
                line-height: 22px;
                padding: 0 10px;
                border: 1px solid;
                vertical-align: middle;
                font-size: 12px;
                color: $bg-active;
                transition: all .5s ease;

                &:hover {
                    color: #fff;
                    background: $bg-active;
                }
            }

            ._btn-plus {
                font-size: 24px;
                font-weight: bold;
                color: $bg-active;
                line-height: 1;
            }
        }

        .tb-row:hover {
            background: $bg-hover;
        }

        .tb-row {
            padding: 2px 0;
          
        }

        .tb-row + .tb-row {
            border-top: 1px solid $line;
        }
    }

    ._tb-h {
        text-align: center;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: $text-h;
        line-height: 44px;
        font-weight: bold;
        border-top: 1px solid $line;
        border-bottom: 1px solid $line;
    }
}
