<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../../static/css/cstFonts/member/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/view/member.css" />
    <!--[if lte IE 8]>
        <script src="../../static/js/html5shiv.js"  type="text/javascript" charset="utf-8"></script>
    <![endif]-->

   
</head>

<body class="collect">

    <!--header-->
    <include src="header.html"></include>
    <!--content -->
    <section class=" cfx container relative  common-cnt">


        <!--content-->
        <div class="member-content fr">
            <div class="title">商品收藏</div>

            <div class="content">

                <table class="tb-100 tb-fixed">

                    <thead>
                        <tr>
                            <th>品名</th>
                            <th>厂商</th>
                            <th>牌号</th>
                            <th>交货地</th>
                            <th>当前价格（吨/元）</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>AS(SAN)</td>
                            <td>韩三星第一毛织（乐天）</td>
                            <td>GP535N(白底)</td>
                            <td>东莞</td>
                            <td class="price">￥12800</td>
                            <td>
                                <button class="see">查看</button>
                                <button class="del">移除</button>

                            </td>
                        </tr>
                        <tr>
                            <td>AS(SAN)</td>
                            <td>韩三星第一毛织（乐天）</td>
                            <td>GP535N(白底)</td>
                            <td>东莞</td>
                            <td class="price">￥12800</td>
                            <td>
                                <button class="see">查看</button>
                                <button class="del">移除</button>

                            </td>
                        </tr>
                        <tr>
                            <td>AS(SAN)</td>
                            <td>韩三星第一毛织（乐天）</td>
                            <td>GP535N(白底)</td>
                            <td>东莞</td>
                            <td class="price">￥12800</td>
                            <td>
                                <button class="see">查看</button>
                                <button class="del">移除</button>

                            </td>
                        </tr>
                        <tr>
                            <td>AS(SAN)</td>
                            <td>韩三星第一毛织（乐天）</td>
                            <td>GP535N(白底)</td>
                            <td>东莞</td>
                            <td class="price">￥12800</td>
                            <td>
                                <button class="see">查看</button>
                                <button class="del">移除</button>

                            </td>
                        </tr>
                        <tr>
                            <td>AS(SAN)</td>
                            <td>韩三星第一毛织（乐天）</td>
                            <td>GP535N(白底)</td>
                            <td>东莞</td>
                            <td class="price">￥12800</td>
                            <td>
                                <button class="see">查看</button>
                                <button class="del">移除</button>

                            </td>
                        </tr>
                        <tr>
                            <td>AS(SAN)</td>
                            <td>韩三星第一毛织（乐天）</td>
                            <td>GP535N(白底)</td>
                            <td>东莞</td>
                            <td class="price">￥12800</td>
                            <td>
                                <button class="see">查看</button>
                                <button class="del">移除</button>

                            </td>
                        </tr>
                        <tr>
                            <td>AS(SAN)</td>
                            <td>韩三星第一毛织（乐天）</td>
                            <td>GP535N(白底)</td>
                            <td>东莞</td>
                            <td class="price">￥12800</td>
                            <td>
                                <button class="see">查看</button>
                                <button class="del">移除</button>

                            </td>
                        </tr>
                        <tr>
                            <td>AS(SAN)</td>
                            <td>韩三星第一毛织（乐天）</td>
                            <td>GP535N(白底)</td>
                            <td>东莞</td>
                            <td class="price">￥12800</td>
                            <td>
                                <button class="see">查看</button>
                                <button class="del">移除</button>

                            </td>
                        </tr>


                    </tbody>

                </table>

            </div>

        </div>

        <!--nav-->
        <div class="member-nav">
            <include src="../../template/member-nav.html"  data-nav data-index="1"></include>

        </div>

    </section>

    <!--footer-->
    <include src="../../template/_footer.html"></include>



    <!--check css-->
    <script src="../../static/js/modernizr-2.6.2.min.js" defer type="text/javascript" charset="utf-8"></script>
    <!--css3 prefix-->
    <script src="../../static/js/prefix-css3.min.js" defer type="text/javascript" charset="utf-8"></script>
    <script src="../../static/js/common-cdn.js" defer type="text/javascript" charset="utf-8"></script>

    <!--[if lte IE 8]>
         <link rel="stylesheet" type="text/css" href="../../static/css/ie8.css" />
         <script src="../../static/js/ie8.js" defer type="text/javascript" charset="utf-8"></script>
    <![endif]-->
    <!--[if IE 9]>
        <link rel="stylesheet" type="text/css" href="../../static/css/ie9.css" />
        <script src="../../static/js/ie9.js" defer type="text/javascript" charset="utf-8"></script>
    <![endif]-->

    <script data-parent="umd" data-umd="test" defer src="../../static/js/view/member.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>