<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../../static/css/cstFonts/member/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/view/member.css" />
    <!--[if lte IE 8]>
        <script src="../../static/js/html5shiv.js"  type="text/javascript" charset="utf-8"></script>
    <![endif]-->

   
</head>

<body class="edit">

    <!--header-->
    <include src="header.html"></include>
    <!--content -->
    <section class="clearfix container relative">

        <!--nav-->
        <div class="member-nav">
            <include src="../../template/member-nav.html" header index="0"></include>

        </div>
        <!--content-->
        <div class="member-content">
            <div class="title">认证资料</div>

            <div class="content">
                <ul>
                    <li>
                        <div class="infor">
                            <span class="icon">*</span>
                            <span>公司名称：</span>
                        </div>

                        <input type="text" />
                    </li>
                    <li>
                        <div class="infor">
                            <span class="icon">*</span>
                            <span>公司简称：</span>
                        </div>

                        <input type="text" />
                    </li>
                    <li>
                        <div class="infor">
                            <span>*</span>
                            <span>企业所在地：</span>
                        </div>

                        <input class="location" type="text" />
                        <span class="iconfont icon-arrows"></span>
                        <input class="location" type="text" />
                        <span class="iconfont icon-arrows"></span>

                        <input class="location" type="text" />
                        <span class="iconfont icon-arrows"></span>

                    </li>
                    <li>
                        <div class="infor">
                            
                        </div>

                        <input type="text" />
                    </li>
                    <li>
                        <div class="infor">
                            <span class="icon">*</span>
                            <span>真实姓名：</span>
                        </div>

                        <input type="text" />
                    </li>
                    <li>
                        <div class="infor">
                            <span class="icon">*</span>
                            <span>手机号码：</span>
                        </div>

                        <input type="text" />
                    </li>
                    <li>
                        <div class="infor">
                            <span class="icon">*</span>
                            <span>座机：</span>
                        </div>

                        <input type="text" />
                    </li>
                </ul>
             


                <a href="index.html" class="back">返回</a>
                <a class="submit">提交审核</a>
            </div>

        </div>


    </section>

    <!--footer-->
    <include src="../../template/index-footer.html"></include>



    <!--check css-->
    <script src="../../static/js/modernizr-2.6.2.min.js" defer type="text/javascript" charset="utf-8"></script>
    <!--css3 prefix-->
    <script src="../../static/js/prefix-css3.min.js" defer type="text/javascript" charset="utf-8"></script>
    <script src="../../static/js/common-cdn.js" defer type="text/javascript" charset="utf-8"></script>

    <!--[if lte IE 8]>
         <link rel="stylesheet" type="text/css" href="../../static/css/ie8.css" />
         <script src="../../static/js/ie8.js" defer type="text/javascript" charset="utf-8"></script>
    <![endif]-->
    <!--[if IE 9]>
        <link rel="stylesheet" type="text/css" href="../../static/css/ie9.css" />
        <script src="../../static/js/ie9.js" defer type="text/javascript" charset="utf-8"></script>
    <![endif]-->

    <script data-parent="umd" data-umd="edit" defer src="../../static/js/view/member.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>