<!-- header 顶部-->
    <div class="common-head">

        <div class="container relative">
            <div class="common-head-l absolute">
                <a href="index.html">
                    <img src="../../static/images/xuelian/Industry Information/htzx-yt-homepage.png" alt="塑金在线" title="比价网-首页" />
                    <span>首页</span>
                </a>
            </div>

            <div class="common-head-r absolute">
                <a href="javascript:;">加入收藏</a>
            </div>
        </div>
        
    </div>
    <div class="logo-wrap">
        <div class="container">
            <div class="logo">
                <a href="../index/index.html"> <img class="logo-img" src="../../static/images/help/htzx--dh-logo.png" alt="塑金在线" /></a>
               
                <span class="logo-txt">会员中心</span>
                <div class="portrait-top">
                    <img src="../../static/images/member/sy-tx.png" />
                    <span>18875927840</span>
                </div>
                <ul class="logo-r">
                    <li><a href="index.html">会员中心</a></li>
                    <li><a href="index.html">退出登录</a></li>

                </ul>

            </div>
        </div>
    </div>

