<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../../static/css/cstFonts/member/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/view/member.css" />
    <!--[if lte IE 8]>
        <script src="../../static/js/html5shiv.js"  type="text/javascript" charset="utf-8"></script>
    <![endif]-->

   
</head>

<body class="index">

    <!--header-->
    <include src="header.html"></include>
    <!--content -->
    <section class="index-main cfx container relative  common-cnt ">

        <!--content-->
        <div class="member-content fr">

            <div class="title">会员信息</div>

            <div class="content">
                <ul class="tab clearfix">
                    <li class="active">企业信息</li>
                    <li>企业证件</li>

                </ul>
                <ul class="infor">
                    <li><span>用户名:</span><a class="username" href="review.html"> 18875927840</a></li>
                    <li><span>企业名称:</span><a href="review.html"> 去认证</a></li>
                    <li><span>企业简称:</span><a href="review.html"> 去认证</a></li>
                    <li><span>企业所在地:</span><a href="review.html"> 去认证</a></li>
                    <li><span>您的真实姓名:</span><a href="review.html"> 去认证</a></li>
                    <li><span>手机号码:</span><a href="review.html"> 去认证</a></li>
                    <li><span>座机:</span><a href="review.html"> 去认证</a></li>

                </ul>
                <a class="goReview" href="review.html">
                    去认证
                </a>
            </div>

        </div>

        <!--nav-->
        <div class="member-nav">
            <include src="../../template/member-nav.html"  data-nav  data-index="0"></include>
        </div>

    </section>
    
    <!--footer-->
    <include src="../../template/_footer.html"></include>


    <!--check css-->
    <script src="../../static/js/modernizr-2.6.2.min.js" defer type="text/javascript" charset="utf-8"></script>
    <!--css3 prefix-->
    <script src="../../static/js/prefix-css3.min.js" defer type="text/javascript" charset="utf-8"></script>
    <script src="../../static/js/common-cdn.js" defer type="text/javascript" charset="utf-8"></script>

    <!--[if lte IE 8]>
         <link rel="stylesheet" type="text/css" href="../../static/css/ie8.css" />
         <script src="../../static/js/ie8.js" defer type="text/javascript" charset="utf-8"></script>
    <![endif]-->
    <!--[if IE 9]>
        <link rel="stylesheet" type="text/css" href="../../static/css/ie9.css" />
        <script src="../../static/js/ie9.js" defer type="text/javascript" charset="utf-8"></script>
    <![endif]-->

    <script data-parent="umd" data-umd="test" defer src="../../static/js/view/member.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>