<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>供应商列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="Keywords" content="塑金比价系统" />
    <meta name="Description" content="塑金比价系统" />
    <link rel="stylesheet" type="text/css" href="../../static/css/cstFonts/index/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/view/pricevs.css" />

    <!--[if lte IE 8]>
        <script src="../../static/js/html5shiv.js"  type="text/javascript" charset="utf-8"></script>
         <link rel="stylesheet" type="text/css" href="../../static/css/ie8.css" />
    <![endif]-->
    <!--check css-->
    <script src="../../static/js/modernizr-2.6.2.min.js" defer type="text/javascript" charset="utf-8"></script>
    <!--css3 prefix-->
    <script src="../../static/js/prefix-css3.min.js" defer type="text/javascript" charset="utf-8"></script>
    <script src="../../static/js/common-cdn.js" defer type="text/javascript" charset="utf-8"></script>

    <!--[if lte IE 9]>
         <script src="../../static/js/placeholder.js" defer type="text/javascript" charset="utf-8"></script>
    <![endif]-->
    <script data-parent="umd" data-umd="supplier" defer src="../../static/js/view/pricevs.js" type="text/javascript" charset="utf-8"></script>
</head>

<body class="supplier">

    <!--header-->
    <include src="../../template/_header.html" data-nav  data-index="1"></include>

    <!--searchbox-->
    <include src="../../template/_searchbox.html"></include>


    <!--content-->
    <section class="pricelist-cnt">

        <!--搜索为空数据 -->
        <div class="search-not-data ctr  d-hide">
            <img src="../../static/images/search-not-data.png" alt="搜索为空数据 图标" />
        </div>

        <!--头部表格 -->
        <div class="pricelist-cnt-tb ctr">

            <!--大标题-->
            <h2 class="_ttl">

                <span>PP</span>
                <span>中石化湛江东兴</span>
                <span>PPH-T03</span>
            </h2>


        </div>

        <!--搜索列表内容 -->
        <div class="pricevs-cnt-dy ctr cfx">

            <!--右边-->
            <div class="_r fr">

                <!-- 全国比价-->
                <div class="_r-rp  cfx  ie8-border">
                    <div class="_b-l">

                        <!--全国比价-->
                        <div class="_cnt-l-t">
                            <h3 class="_cnt-l-ttl">
                                全国比价
                                <a href="javascript:;">更多+</a>
                            </h3>
                        </div>

                        <!-- 内容列表-->
                        <div class="_b-l-lst">

                            <div class="tb tb-fixed table-100">
                                <div class="tb-cell elp text-left table-2 text-primary">
                                    东莞
                                </div>
                                <div class="tb-cell elp text-center table-2 text-muted">
                                    PA-757
                                </div>
                                <div class="tb-cell elp text-center table-4  text-danger">
                                    ￥12000.00元/吨
                                </div>
                                <div class="tb-cell elp text-right table-2">
                                    <a class="__btn">查看</a>
                                </div>

                            </div>

                            <div class="tb tb-fixed table-100">
                                <div class="tb-cell elp text-left table-2 text-primary">
                                    东莞
                                </div>
                                <div class="tb-cell elp text-center table-2 text-muted">
                                    PA-757
                                </div>
                                <div class="tb-cell elp text-center table-4 text-danger">
                                    ￥12000.00元/吨
                                </div>
                                <div class="tb-cell elp text-right table-2">
                                    <a class="__btn">查看</a>
                                </div>
                            </div>
                            <div class="tb tb-fixed table-100">
                                <div class="tb-cell elp text-left table-2 text-primary">
                                    东莞
                                </div>
                                <div class="tb-cell elp text-center table-2 text-muted">
                                    PA-757
                                </div>
                                <div class="tb-cell elp text-center table-4  text-danger">
                                    ￥12000.00元/吨
                                </div>
                                <div class="tb-cell elp text-right table-2">
                                    <a class="__btn">查看</a>
                                </div>

                            </div>

                            <div class="tb tb-fixed table-100">
                                <div class="tb-cell elp text-left table-2 text-primary">
                                    东莞
                                </div>
                                <div class="tb-cell elp text-center table-2 text-muted">
                                    PA-757
                                </div>
                                <div class="tb-cell elp text-center table-4 text-danger">
                                    ￥12000.00元/吨
                                </div>
                                <div class="tb-cell elp text-right table-2">
                                    <a class="__btn">查看</a>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>

                <!--今日行情-->
                <div class="_r-hq cfx  ie8-border">
                    <h3 class="_r-hq-ttl">
                        今<img src=" ../../static/images/index/q.png" alt="Alternate Text" />行情
                        <a href="javascript:;">更多+</a>
                    </h3>
                    <ul class="_r-hq-lst">
                        <li>
                            <a class="elp" href="#">
                                <span class="">12:34</span>
                                <img src=" ../../static/images/index/hq1.png" alt="今日行情 icon" />
                                ABS塑料原料华东地区今日价格上涨塑料原料华东地区今日价格上涨
                            </a>

                        </li>
                        <li>
                            <a class="elp" href="#">
                                <span class="">12:34</span>
                                <img src=" ../../static/images/index/hq2.png" alt="今日行情 icon" />
                                ABS塑料原料华东地区今日价格上涨
                            </a>
                        </li>
                        <li>
                            <a class="elp" href="#">
                                <span class="">12:34</span>
                                <img src=" ../../static/images/index/hq3.png" alt="今日行情 icon" />
                                ABS塑料原料华东地区今日价格上涨
                            </a>
                        </li>
                        <li>
                            <a class="elp not-icon" href="#">
                                <span class="">12:34</span>
                                ABS塑料原料华东地区今日价格上涨
                            </a>
                        </li>

                        <li>
                            <a class="elp not-icon" href="#">
                                <span class="">12:34</span>
                                ABS塑料原料华东地区今日价格上涨
                            </a>
                        </li>
                    </ul>

                </div>



                <!-- 外盆动态-->
                <div class="_r-dt  ie8-border">
                    <a href="#"><img src="../../static/images/index/pricevs/jgdb-gys-wpdt.jpg" alt="外盆动态" /></a>

                </div>

                <!-- 价格走势-->
                <div class="_r-dt  ie8-border">
                    <a href="#"><img src="../../static/images/index/pricevs/jgdb-gys-jgzs.jpg" alt="价格走势" /></a>

                </div>

            </div>

            <!--左边 供应商列表-->
            <div class="_l  ie8-border">

                <!--大的表格-->
                <div class="_l-tb">

                    <!--ttl-->
                    <div class="_l-tb-ttl tb tb-fixed">
                        <div class="__item1 tb-cell">
                            价格(元/吨)
                        </div>
                        <div class="__item2 tb-cell">
                            数量/吨
                        </div>
                        <div class="__item3 tb-cell">
                            票据
                        </div>
                        <div class="__item4 tb-cell">
                            配送方式
                        </div>
                        <div class="__item5 tb-cell">
                            交货地
                        </div>
                        <div class="__item6 tb-cell">
                            供应商
                        </div>

                        <div class="__item7 tb-cell">
                            联系方式
                        </div>
                    </div>

                    <!--cnt-->
                    <div class="_l-tb-bd ">

                        <!--item-->
                        <div class="__item tb  tb-fixed table-100">

                            <div class="__item1 tb-cell ">
                                ￥15000.00
                            </div>
                            <div class="__item2 tb-cell ">
                                20.00
                            </div>
                            <div class="__itm3 tb-cell ">
                                其他商业票据
                            </div>
                            <div class="__item4 tb-cell ">
                                物流
                            </div>
                            <div class="__item5 tb-cell ">
                                东莞
                            </div>
                            <div class="__item6 tb-cell  ">
                                东莞晶锐塑料东莞晶锐塑料
                            </div>
                            <div class="__item7 tb-cell">
                                <!--data-toggle="v-modal" data-target=".v-modal"-->
                                <a class="__btn1" href="javascript:;"> <span class="iconfont icontel-fill "></span>洽谈</a>
                            </div>
                        </div>

                        <!--item-->
                        <div class="__item tb  tb-fixed table-100">

                            <div class="__item1 tb-cell ">
                                ￥15000.00
                            </div>
                            <div class="__item2 tb-cell ">
                                20.00
                            </div>
                            <div class="__itm3 tb-cell ">
                                其他商业票据
                            </div>
                            <div class="__item4 tb-cell ">
                                物流
                            </div>
                            <div class="__item5 tb-cell ">
                                东莞
                            </div>
                            <div class="__item6 tb-cell  ">
                                东莞晶锐塑料
                            </div>
                            <div class="__item7 tb-cell">
                                <a class="__btn1" href="javascript:;"> <span class="iconfont icontel-fill "></span>洽谈</a>
                            </div>
                        </div>

                        <!--item-->
                        <div class="__item tb  tb-fixed table-100">

                            <div class="__item1 tb-cell ">
                                ￥15000.00
                            </div>
                            <div class="__item2 tb-cell ">
                                20.00
                            </div>
                            <div class="__itm3 tb-cell ">
                                其他商业票据
                            </div>
                            <div class="__item4 tb-cell ">
                                物流
                            </div>
                            <div class="__item5 tb-cell ">
                                东莞
                            </div>
                            <div class="__item6 tb-cell  ">
                                东莞晶锐塑料
                            </div>
                            <div class="__item7 tb-cell">
                                <a class="__btn1" href="javascript:;"> <span class="iconfont icontel-fill "></span>洽谈</a>
                            </div>
                        </div>

                        <!--item-->
                        <div class="__item tb  tb-fixed table-100">

                            <div class="__item1 tb-cell ">
                                ￥15000.00
                            </div>
                            <div class="__item2 tb-cell ">
                                20.00
                            </div>
                            <div class="__itm3 tb-cell ">
                                其他商业票据
                            </div>
                            <div class="__item4 tb-cell ">
                                物流
                            </div>
                            <div class="__item5 tb-cell ">
                                东莞
                            </div>
                            <div class="__item6 tb-cell  ">
                                东莞晶锐塑料
                            </div>
                            <div class="__item7 tb-cell">
                                <a class="__btn1" href="javascript:;"> <span class="iconfont icontel-fill "></span>洽谈</a>
                            </div>
                        </div>

                        <!--item-->
                        <div class="__item tb  tb-fixed table-100">

                            <div class="__item1 tb-cell ">
                                ￥15000.00
                            </div>
                            <div class="__item2 tb-cell ">
                                20.00
                            </div>
                            <div class="__itm3 tb-cell ">
                                其他商业票据
                            </div>
                            <div class="__item4 tb-cell ">
                                物流
                            </div>
                            <div class="__item5 tb-cell ">
                                东莞
                            </div>
                            <div class="__item6 tb-cell  ">
                                东莞晶锐塑料
                            </div>
                            <div class="__item7 tb-cell">
                                <a class="__btn1" href="javascript:;"> <span class="iconfont icontel-fill "></span>洽谈</a>
                            </div>
                        </div>
                        <!--item-->
                        <div class="__item tb  tb-fixed table-100">

                            <div class="__item1 tb-cell ">
                                ￥15000.00
                            </div>
                            <div class="__item2 tb-cell ">
                                20.00
                            </div>
                            <div class="__itm3 tb-cell ">
                                其他商业票据
                            </div>
                            <div class="__item4 tb-cell ">
                                物流
                            </div>
                            <div class="__item5 tb-cell ">
                                东莞
                            </div>
                            <div class="__item6 tb-cell  ">
                                东莞晶锐塑料
                            </div>
                            <div class="__item7 tb-cell">
                                <a class="__btn1" href="javascript:;"> <span class="iconfont icontel-fill "></span>洽谈</a>
                            </div>
                        </div>

                        <!--item-->
                        <div class="__item tb  tb-fixed table-100">

                            <div class="__item1 tb-cell ">
                                ￥15000.00
                            </div>
                            <div class="__item2 tb-cell ">
                                20.00
                            </div>
                            <div class="__itm3 tb-cell ">
                                其他商业票据
                            </div>
                            <div class="__item4 tb-cell ">
                                物流
                            </div>
                            <div class="__item5 tb-cell ">
                                东莞
                            </div>
                            <div class="__item6 tb-cell  ">
                                东莞晶锐塑料
                            </div>
                            <div class="__item7 tb-cell">
                                <a class="__btn1" href="javascript:;"> <span class="iconfont icontel-fill "></span>洽谈</a>
                            </div>
                        </div>
                        <!--item-->
                        <div class="__item tb  tb-fixed table-100">

                            <div class="__item1 tb-cell ">
                                ￥15000.00
                            </div>
                            <div class="__item2 tb-cell ">
                                20.00
                            </div>
                            <div class="__itm3 tb-cell ">
                                其他商业票据
                            </div>
                            <div class="__item4 tb-cell ">
                                物流
                            </div>
                            <div class="__item5 tb-cell ">
                                东莞
                            </div>
                            <div class="__item6 tb-cell  ">
                                东莞晶锐塑料
                            </div>
                            <div class="__item7 tb-cell">
                                <a class="__btn1" href="javascript:;"> <span class="iconfont icontel-fill "></span>洽谈</a>
                            </div>
                        </div>
                        <!--item-->
                        <div class="__item tb  tb-fixed table-100">

                            <div class="__item1 tb-cell ">
                                ￥15000.00
                            </div>
                            <div class="__item2 tb-cell ">
                                20.00
                            </div>
                            <div class="__itm3 tb-cell ">
                                其他商业票据
                            </div>
                            <div class="__item4 tb-cell ">
                                物流
                            </div>
                            <div class="__item5 tb-cell ">
                                东莞
                            </div>
                            <div class="__item6 tb-cell  ">
                                东莞晶锐塑料
                            </div>
                            <div class="__item7 tb-cell">
                                <a class="__btn1" href="javascript:;"> <span class="iconfont icontel-fill "></span>洽谈</a>
                            </div>
                        </div>
                        <!--item-->
                        <div class="__item tb  tb-fixed table-100">

                            <div class="__item1 tb-cell ">
                                ￥15000.00
                            </div>
                            <div class="__item2 tb-cell ">
                                20.00
                            </div>
                            <div class="__itm3 tb-cell ">
                                其他商业票据
                            </div>
                            <div class="__item4 tb-cell ">
                                物流
                            </div>
                            <div class="__item5 tb-cell ">
                                东莞
                            </div>
                            <div class="__item6 tb-cell  ">
                                东莞晶锐塑料
                            </div>
                            <div class="__item7 tb-cell">
                                <a class="__btn1" href="javascript:;"> <span class="iconfont icontel-fill "></span>洽谈</a>
                            </div>
                        </div>
                        <!--item-->
                        <div class="__item tb  tb-fixed table-100">

                            <div class="__item1 tb-cell ">
                                ￥15000.00
                            </div>
                            <div class="__item2 tb-cell ">
                                20.00
                            </div>
                            <div class="__itm3 tb-cell ">
                                其他商业票据
                            </div>
                            <div class="__item4 tb-cell ">
                                物流
                            </div>
                            <div class="__item5 tb-cell ">
                                东莞
                            </div>
                            <div class="__item6 tb-cell  ">
                                东莞晶锐塑料
                            </div>
                            <div class="__item7 tb-cell">
                                <a class="__btn1" href="javascript:;"> <span class="iconfont icontel-fill "></span>洽谈</a>
                            </div>
                        </div>
                        <!--item-->
                        <div class="__item tb  tb-fixed table-100">

                            <div class="__item1 tb-cell ">
                                ￥15000.00
                            </div>
                            <div class="__item2 tb-cell ">
                                20.00
                            </div>
                            <div class="__itm3 tb-cell ">
                                其他商业票据
                            </div>
                            <div class="__item4 tb-cell ">
                                物流
                            </div>
                            <div class="__item5 tb-cell ">
                                东莞
                            </div>
                            <div class="__item6 tb-cell  ">
                                东莞晶锐塑料
                            </div>
                            <div class="__item7 tb-cell">
                                <a class="__btn1" href="javascript:;"> <span class="iconfont icontel-fill "></span>洽谈</a>
                            </div>
                        </div>
                        <!--item-->
                        <div class="__item tb  tb-fixed table-100">

                            <div class="__item1 tb-cell ">
                                ￥15000.00
                            </div>
                            <div class="__item2 tb-cell ">
                                20.00
                            </div>
                            <div class="__itm3 tb-cell ">
                                其他商业票据
                            </div>
                            <div class="__item4 tb-cell ">
                                物流
                            </div>
                            <div class="__item5 tb-cell ">
                                东莞
                            </div>
                            <div class="__item6 tb-cell  ">
                                东莞晶锐塑料
                            </div>
                            <div class="__item7 tb-cell">
                                <a class="__btn1" href="javascript:;"> <span class="iconfont icontel-fill "></span>洽谈</a>
                            </div>
                        </div>

                    </div>

                    <!-- 分页-->
                    <div class="paging" style="text-align:center"></div>

                </div>

            </div>

        </div>

    </section>

    <!--modal 洽谈-->
    <div class="v-modal v-init qiatan" data-backdrop="false">

        <!--  supper ie8  v-ie8-mask -->
        <div class="v-ie8-mask"></div>

        <div class="v-modal-cnt">

            <div class="v-modal-colse" data-dismiss="v-modal">
                <span>&times;</span>
            </div>

            <div class="v-modal-m cfx">

                <img class="" src="../../static/images/index/pricevs/jgdb-qt-tx.png" alt="Alternate Text" />
                <div class="v-modal-m-txt ">
                    <p class="p1">  黄先生:</p>
                    <p class="p2">13723559114</p>
                    <p class="p3">该号码60秒后失效</p>
                </div>
            </div>

            <div class="v-modal-b">
                <img src="../../static/images/index/pricevs/jgdb-qt-gzhm.png" alt="头像" />
                <div class="v-modal-b-txt">
                    <p>比价网邀请您关注二维码  </p>
                    <p>了解最新动态</p>
                    <p> 掌握最新价格</p>
                    <p>上游动态实施知晓</p>
                </div>

            </div>

        </div>

    </div>


    <!--icon-->
    <include src="../../template/_icon.html"></include>

    <!--footer-->
    <include src="../../template/_footer.html"></include>

    <!--置顶-->
    <div class="zhiding self">
        <img src="../../static/images/index/zhiding.png" alt="置顶" title="到页面顶部" />
        <!--<span class="iconicon-test iconfont"></span>-->
    </div>


</body>

</html>